{% extends 'page.html' %}

{% block content %}
  <section class="container">
    <div class="row">
      {% block header %}
        <h1 class="col">{{ patient.demographics.as_banner }}</h1>
      {% endblock %}
    </div>
    {% block episode_list %}
      {% for episode in patient.episode_set.all %}
        <h3>
          Episode {% if episode.start %} {{ episode.start }} {% endif %} {{ forloop.counter }}
        </h3>
        {% include episode.category.detail_template %}
      {% endfor %}
    {% endblock %}
  </section>
{% endblock %}
