<div class="checkbox checkbox-primary col-sm-offset-3">
  <input {% if disabled %}ng-disabled="{{ disabled }}"{% endif %}
         class="" id="checkbox_{{modelname}}_[[ $index ]]" type="checkbox"
         ng-model="{{ model }}" {% if change %}ng-change="{{ change }}"{% endif %}
         />
  <label for="checkbox_{{ modelname }}_[[ $index ]]">{{ label }}</label>
  {% if help_text %}
  <br />
  <span class="text-muted" style="margin-left: -20px;">
    {{ help_text }}
  </span>
  {% endif %}
</div>
