{% load i18n %}
<div ng-show="editing.demographics.external_system" class="form-group">
  <label class="control-label {% ifequal style "horizontal" %}col-sm-3{% endifequal %}">{% trans "Date Of Birth" %}</label>
  <p class="form-control-static col-sm-8">
    [[ {{ model_name }} | displayDate ]]
  </p>
</div>
<div ng-class="{'has-error': form.date_of_birth.$invalid}" ng-hide="editing.demographics.external_system" class="form-group">
  <label class="control-label {% ifequal style "horizontal" %}col-sm-3{% endifequal %}">{% trans "Date Of Birth" %}</label>
  <div class="{% ifequal style "horizontal" %}col-sm-8{% endifequal %}">
    <div date-of-birth ng-model="{{ model_name }}"></div>
    <span class="help-block" ng-show="form.date_of_birth.$invalid">
      {% trans "Please enter a valid date of birth in the format DD/MM/YYYY" %}
    </span>
  </div>
</div>
