{% extends 'page.html' %}

{% block navbar_search %}
{% comment %} We don't need one in the navbar as well ! {% endcomment %}
{% endblock %}

{% block content %}
<section class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h1>Patient Search</h1>
      <form method="GET" action=".">
        <div class="form-group">
          <input type="text"
                 name="q"
                 placeholder="Name or Hospital Number"
                 class="form-control"
                 {% if q %}value="{{ q }}"{% endif %}
                 >
        </div>
      </form>
      {% if results.total_count > 0 %}
      <h3 class="mb-3">
        We've found <strong>{{ results.total_count }}</strong>
        patient{% if results.total_count > 1 %}s{% endif %}
      </h3>
      {% endif %}
      {% for result in results.object_list %}
      <div class="mt-5">
        <h4>
          <a href="{% url 'patient_detail' pk=result.patient_id %}">
            {{ result.first_name }} {{ result.surname }} {{ result.hospital_number }}
          </a>
        </h4>
        {% if result.date_of_birth %}
        <p>({{ result.date_of_birth }})</p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
