recursive-include opal/static *
recursive-include opal/templates *
recursive-include opal/scaffolding *
recursive-include opal/core/collaborative/static *
recursive-include opal/core/collaborative/templates *
recursive-include opal/core/search/static *
recursive-include opal/core/search/templates *
recursive-include opal/core/pathway/static *
recursive-include opal/core/pathway/templates *
recursive-include opal/core/referencedata/data/lookuplists *
recursive-include opal/tests/js_config *
