<!doctype html>
<html ng-app="opalApp" ng-controller="TableCtrl" ng-keydown="keypress($event)">
	<head>
		<meta charset="utf-8">
		<title>OPaL: Open Patient List</title>
		<script src="assets/js/jquery-1.9.1.js"></script>
		<script src="assets/js/angular-1.1.5.js"></script>
		<script src="assets/js/bootstrap-2.3.1.js"></script>
		<script src="assets/js/opal.js"></script>
		<link href="assets/css/bootstrap-2.3.1.css" rel="stylesheet" media="screen">
		<link href="assets/css/opal.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<h1>OPaL: Open Patient List</h1>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Location</th>
					<th>Demographics</th>
					<th>Diagnosis</th>
					<th>Past Medical History</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in rows" ng-class="{selected: row._selected}">
					<td ng-class="{selected: selectedColumnName == 'location'}">
						<ul>
							<li class="selected">{{row.location.category}}<br /><span ng-hide="row.location.hospital=='UCH'">{{row.location.hospital}} </span>{{row.location.ward}} {{row.location.bed}}<br />Admitted: {{row.location.dateOfAdmission}}</li>
						</ul>
					</td>

					<td ng-class="{selected: selectedColumnName == 'demographics'}">
						<ul>
							<li class="selected">{{row.demographics.name}}<br />{{row.demographics.hospitalNumber}}<br />{{row.demographics.dateOfBirth}}</li>
						</ul>
					</td>

					<td ng-class="{selected: selectedColumnName == 'diagnosis'}">
						<ul>
							<li ng-repeat="diagnosis in row.diagnosis" ng-class="{selected: diagnosis._selected}">
								<span ng-hide="diagnosis._new">
									<span ng-hide="diagnosis.confirmed">?</span> {{diagnosis.condition}}
								</span>
								<span ng-show="row._selected && diagnosis._new">
									<a href="#">Add diagnosis</a>
								</span>
							</li>
						</ul>
					</td>

					<td ng-class="{selected: selectedColumnName == 'pastMedicalHistory'}">
						<ul>
							<li ng-repeat="pmh in row.pastMedicalHistory" ng-class="{selected: pmh._selected}">
								<span ng-hide="pmh._new">
									{{pmh.condition}} <span ng-show="pmh.year">({{pmh.year}})</span>
								</span>
								<span ng-show="row._selected && pmh._new">
									<a href="#">Add condition</a>
								</span>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>

		<div id="location-modal" class="modal hide" tabindex="-1" role="dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="cancelEdit()">×</button>
				<h3>Location</h3>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label">Hospital</label>
						<div class="controls">
							<input type="text" ng-model="editing.hospital">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Ward</label>
						<div class="controls">
							<input type="text" ng-model="editing.ward">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Bed</label>
						<div class="controls">
							<input type="text" ng-model="editing.bed">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Date of admission</label>
						<div class="controls">
							<input type="text" ng-model="editing.dateOfAdmission">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" ng-click="cancelEdit()">Cancel</button>
				<button class="btn btn-primary" data-dismiss="modal" ng-click="saveEdit()">Save changes</button>
			</div>
		</div>
		
		<div id="demographics-modal" class="modal hide" tabindex="-1" role="dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="cancelEdit()">×</button>
				<h3>Demographics</h3>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label">Name</label>
						<div class="controls">
							<input type="text" ng-model="editing.name">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Hospital number</label>
						<div class="controls">
							<input type="text" ng-model="editing.hospitalNumber">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Date of birth</label>
						<div class="controls">
							<input type="text" ng-model="editing.dateOfBirth">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" ng-click="cancelEdit()">Cancel</button>
				<button class="btn btn-primary" data-dismiss="modal" ng-click="saveEdit()">Save changes</button>
			</div>
		</div>
		
		<div id="diagnosis-modal" class="modal hide" tabindex="-1" role="dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="cancelEdit()">×</button>
				<h3>Diagnosis</h3>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label">Condition</label>
						<div class="controls">
							<input type="text" ng-model="editing.condition">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Confirmed?</label>
						<div class="controls">
							<input type="checkbox" ng-model="editing.confirmed">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Details</label>
						<div class="controls">
							<input type="text" ng-model="editing.details">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" ng-click="cancelEdit()">Cancel</button>
				<button class="btn btn-primary" data-dismiss="modal" ng-click="saveEdit()">Save changes</button>
			</div>
		</div>
		
		<div id="pastMedicalHistory-modal" class="modal hide" tabindex="-1" role="dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="cancelEdit()">×</button>
				<h3>Past Medical History</h3>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label">Condition</label>
						<div class="controls">
							<input type="text" ng-model="editing.condition">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Year</label>
						<div class="controls">
							<input type="text" ng-model="editing.year">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" ng-click="cancelEdit()">Cancel</button>
				<button class="btn btn-primary" data-dismiss="modal" ng-click="saveEdit()">Save changes</button>
			</div>
		</div>
	</body>
</html>
