module.exports = function(config){
  var opalPath;
  if(process.env.TRAVIS){
    python_version = process.env.TRAVIS_PYTHON_VERSION;
    opalPath = '/home/travis/virtualenv/python' + python_version + '/src/opal';
  }
  else{
    // this should point to the location of Opal on your machine, it may be in the virtualenv
    opalPath = '../../opal';
  }
  var karmaDefaults = require(opalPath + '/config/karma_defaults.js');
  var baseDir = __dirname + '/..';
  var coverageFiles = [
    __dirname+'/../{{ name }}/static/js/{{ name }}/**/*.js',
  ];
    var includedFiles = [
      __dirname+'/../{{ name }}/static/js/{{ name }}/**/*.js',
      __dirname+'/../{{ name }}/static/js/test/*.js',
  ];

  var defaultConfig = karmaDefaults(includedFiles, baseDir, coverageFiles);
  config.set(defaultConfig);
};
