.extract-search .search-info{
  border: 1px solid grey;
  padding: 10px 15px 10px 15px;
  position: relative;
  margin-top: 10px;
}

.extract-search .search-info-title{
  position: absolute;
  display: block;
  background-color: white;
  left: 10px;
  top: -10px;
  padding: 0 5px;
}

.extract-search .divider{
  /*fields have a margin-top so that they collapse nicely in
  small screens, offset it for the <hr />*/
  margin-bottom: -5px;
}

.extract-search .square-button{
  width: 34px;
}


/* the data slicing */
.extract-table-container {
    height: 300px;
    border: 1px solid #ddd;
}

.extract-table-container table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
.extract-table-container table thead {
    /* head takes the height it requires,
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: 100%;
}

.extract-table-container table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
.extract-table-container table tbody tr {
    width: 100%;
}

.extract-table-container table tbody tr a {
    display: block;
}

.extract-table-container table thead, .extract-table-container table tbody tr {
    display: table;
    table-layout: fixed;
}
.extract-slice-side-bar{
    position: relative;
    height: 300px;
    width: 100%
}
.extract-slice-side-button{
    position: absolute;
    bottom: 0;
}
.extract-slice-field-description{
    position: relative;
    padding-bottom: 50px;
}

.extract-slice-field-add{
    position: absolute;
    bottom: 0;
    right: 0
}
