
<div class="row">
  <div class="col-md-8">
    <div ng-repeat="column in dataDictionary.columns">
      <div ng-show="!$first" class="row">
        <div class="col-md-12">
          <hr class="bold" />
        </div>
      </div>
      <h3 id="[[ column.name ]]"><i class="[[ column.icon ]]"></i> [[ column.display_name ]]</h3>
      <table class="table data-dictionary-table">
        <tr>
          <th class="col-md-3">
            Title
          </th>
          <th class="col-md-4">
            Type
          </th>
          <th class="col-md-5">
            Description
          </th>
        </tr>
        <tr ng-repeat="field in column.fields">
          <td>
            [[ field.title ]]
          </td>
          <td>
            [[ dataDictionary.getTypeDisplay(field.subrecord.name, field.name) ]]
          </td>
          <td>
            [[ field.description ]]
            <div ng-show="dataDictionary.findField(field.subrecord.name, field.name).lookup_list">
              Normally coded as a
              <a href=""
                 class="orange-link"
                 ng-click="open_modal('LookupListReferenceCtrl', '/templates/modals/lookuplist_reference.html', {lookuplist_name: dataDictionary.findField(field.subrecord.name, field.name).lookup_list, lookuplist: dataDictionary.getChoices(field.subrecord.name, field.name, referencedata)  })">
                [[ dataDictionary.findField(field.subrecord.name, field.name).lookup_list | underscoreToSpaces ]]</a>
              but free text entries are possible.
              </a>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-4">
    <div style="position: fixed; width: 20%;" class="row">
      <div class="col-md-6" ng-repeat="column in dataDictionary.columns">
        <h5>
          <a class="blue-link" ng-click="scrollTo(column)" href="">
            <i class="[[ column.icon ]]"></i>
            [[ column.display_name ]]
          </a>
        </h5>
      </div>
    </div>
  </div>
</div>
