{% load forms %}
<div class="row">
  <div class="col-md-3">
    <div style="position: relative; height: 300px; width: 100%">
      {% include "partials/search/query_description.html" %}
      <div style="position: absolute; bottom: 0">
        <a class="btn btn-lg btn-primary">
          {% icon "fa-save" %} Save this extract
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="extract-table-container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Record
            </th>
            <th>
              Field
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="subrecord_field in extractQuery.fields">
            <td>[[ subrecord_field[0].display_name ]]</td>
            <td>[[ subrecord_field[1].title ]] <a class="pull-right" ng-click="extractQuery.removeField(subrecord_field[0], subrecord_field[1])" href="">{% icon "fa-minus-circle" %}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-3">
    <div style="position: relative; height: 300px; width: 100%">
      <div style="position: absolute; bottom: 0; text-align: center">
        <a class="btn btn-lg btn-primary">
          {% icon "fa-cloud-download" %} Get Data
        </a>
      </div>
    </div>
  </div>
</div>
<hr class="bold" />
<div class="row">
  <div class="col-md-12">
    <h3>Add Fields</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="extract-table-container">
      <table class="table">
        <thead>
          <tr>
            <th>
              <h3>Records</h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-class="{active: column.name === fieldsSubrecord.name }" ng-repeat="column in columns">
            <td >
              <a ng-click="selectFieldSubrecord(column)" class="pointer" style="display: block">[[ column.display_name ]]</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-3 col-md-push-1">
    <div class="extract-table-container">
      <table class="table">
        <thead>
          <tr>
            <th>
              <h3>[[ fieldsSubrecord.display_name ]]</h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-class="{active: field.name === fieldInfo.name }" ng-repeat="field in fieldsSubrecord.fields">
            <td>
              <a ng-click="setFieldInfo(field)" style="display: block" class="pointer">
                [[ field.title ]]
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-4 col-md-push-2">
    <div class="search-info" ng-show="fieldInfo">
      <div class="search-info-title">
        <strong>[[ findColumn(fieldsSubrecord.name).display_name ]]</strong>
      </div>
       <div>
         <strong>[[ fieldInfo.title ]]</strong>
       </div>
      <span ng-show="isBoolean(fieldsSubrecord.name, fieldInfo.name)">
        [True/False]
      </span>
      <span ng-show="isSelect(fieldsSubrecord.name, fieldInfo.name)">

        <div ng-show="fieldInfo.lookup_list && fieldInfo.lookup_list.length">
          [a
          <a href=""
             class="orange-link"
             ng-click="open_modal('LookupListReferenceCtrl', '/templates/modals/lookuplist_reference.html', {lookuplist_name: fieldInfo.lookup_list, lookuplist: fieldInfo.lookup_list })">
            [[ findField(fieldsSubrecord.name, fieldInfo.name).lookup_list | underscoreToSpaces ]]
          </a>]
        </div>
      </span>
      <span ng-show="isText(fieldsSubrecord.name, fieldInfo.name)">
        [Text]
        <div ng-show="fieldInfo.lookup_list">
          Normally coded as a
          <a href=""
             class="orange-link"
             ng-click="open_modal('LookupListReferenceCtrl', '/templates/modals/lookuplist_reference.html', {lookuplist_name: fieldInfo.lookup_list, lookuplist: getChoices(fieldsSubrecord.name, fieldInfo.name) })">
            [[ fieldInfo.lookup_list | underscoreToSpaces ]]</a>
          but free text entries are possible.
        </div>
        <div ng-show="fieldInfo.enum && fieldInfo.enum.length">
          one of <span ng-repeat="i in fieldInfo.enum">[[ i ]] </span>
        </div>
      </span>
      <span ng-show="isDate(fieldsSubrecord.name, fieldInfo.name)">
        [Date]
      </span>
      <span ng-show="isDateTime(fieldsSubrecord.name, fieldInfo.name)">
        [Date & Time]
      </span>
      <div>
        <div style="position: relative; padding-bottom: 50px">
          [[ fieldInfo.description ]]
          <div style="position: absolute; bottom: 0; right: 0">
            <a ng-click="extractQuery.addField(fieldsSubrecord, fieldInfo)" class="btn btn-primary">
              {% icon "fa-plus-circle" %} Add To Extract
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
