{% load forms %}
<div class="row">
  <div class="col-md-5">
    {% input "autofocus" field="Demographics.hospital_number" %}
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    {% input field="Demographics.first_name" %}
  </div>
  <div class="col-md-5 col-md-offset-1">
    {% input field="Demographics.surname" %}
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    {% date_of_birth_field %}
  </div>
  <div class="col-md-5 col-md-offset-1">
    {% select field="Demographics.sex" %}
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    {% select field="Demographics.ethnicity" %}
  </div>
  <div class="col-md-5 col-md-offset-1">
    {% input field="Demographics.birth_place" %}
  </div>
</div>
