{% load forms %}
{% datepicker autofocus field="InpatientAdmission.datetime_of_admission" static="editing.inpatient_admission.external_system" %}
{% datepicker field="InpatientAdmission.datetime_of_discharge" static="editing.inpatient_admission.external_system" %}
{% input field="InpatientAdmission.hospital" static="editing.inpatient_admission.external_system" %}
{% input field="InpatientAdmission.ward_code" static="editing.inpatient_admission.external_system" %}
{% input field="InpatientAdmission.room_code" static="editing.inpatient_admission.external_system" %}
{% input field="InpatientAdmission.bed_code" static="editing.inpatient_admission.external_system" %}
