{% load forms %}
{% input "autofocus" field="Demographics.hospital_number" static="true" %}
<div ng-show="editing.demographics.sourced_from_upstream" class="form-group">
  <label class="control-label col-sm-3">Name</label>
  <p class="form-control-static col-sm-8">
    [[ editing.demographics.title ]]
    [[ editing.demographics.first_name ]]
    [[ editing.demographics.surname ]]
  </p>
</div>
<div ng-hide="editing.demographics.sourced_from_upstream">
  {% select field="Demographics.title" static="editing.demographics.sourced_from_upstream" %}
  {% input field="Demographics.first_name" static="editing.demographics.sourced_from_upstream" %}
  {% input field="Demographics.surname" static="editing.demographics.sourced_from_upstream" %}
</div>
{% include 'partials/_date_of_birth_field.html' %}
