<div ng-show="editing.demographics.external_system" class="form-group">
  <label class="control-label col-sm-3">Date of birth</label>
  <p class="form-control-static col-sm-8">
    [[ editing.demographics.date_of_birth | shortDate ]]
  </p>
</div>
<div ng-hide="editing.demographics.external_system" class="form-group">
  <label class="control-label col-sm-3">Date of birth</label>
  <div class="col-sm-8">
    <input class="form-control" type="text"
           bs-datepicker
           name="date_of_birth"
           ng-model="editing.demographics.date_of_birth"
           ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])\/(0?[1-9]|1[012])\/(\d{4})$/"
           placeholder="dd/mm/yyyy" />
    <span class="help-block" ng-show="demographicsForm.date_of_birth.$invalid">
      Date of Birth must be dd/mm/yyyy
    </span>
  </div>
</div>
