{% if teams %}
<div class="control-group">
  <label>Teams</label>
  <div >
	{% for team in teams %}{% if not team.parent %}{% if team.direct_add %}
    {% if team.has_subteams %}
    <h4>{{team.title}}:</h4>
    {% for subteam in team.team_set.all %}{% if subteam.active %}{% if subteam.direct_add %}
	<label class="checkbox">
	  <input type="checkbox" ng-model="editing.tagging[0].{{subteam.name}}">
	  {{subteam.title}}
	</label>            
    {% endif %}{% endif %}{% endfor %}
    {% else %}
    <h4>{{team.title}}:</h4>
	<label class="checkbox">
	  <input type="checkbox" ng-model="editing.tagging[0].{{team.name}}">
	  {{team.title}}
	</label>
    {% endif %}
    {% endif %}{% endif %}{% endfor %}
  </div>
</div>
{% endif %}
