<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label">Condition</label>
		<div class="controls">
			<input type="text" ng-model="editing.condition" bs-typeahead="condition_list" data-provide="typeahead">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Suspected?</label>
		<div class="controls">
			<input type="checkbox" ng-model="editing.suspected">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Details</label>
		<div class="controls">
			<input type="text" ng-model="editing.details" bs-typeahead="subcondition_list" data-provide="typeahead">
		</div>
	</div>
</form>
