<span ng-show="item.type == 'Culture'">
	{{item.cultureType}} {{item.type}}:
	{{item.date}}
	{{item.microscopy}}
	{{item.organism}}
	{{item.notes}}
</span>
<span ng-show="item.type == 'Dengue PCR'">
	{{item.type}}:
	{{item.date}}
	({{item.pcr_result}})
	{{item.notes}}
</span>
<span ng-show="item.type == 'Serology'">
	{{item.serologyCondition}} {{item.type}}:
	{{item.date}}
	(IgM {{item.igm_result}})
	{{item.igm_titre}}
	(IgG {{item.igg_result}})
	{{item.igg_titre}}
	{{item.notes}}
</span>
<span ng-show="item.type == 'Malaria film'">
	{{item.type}}:
	{{item.date}}
	{{item.parasitaemia}}
	{{item.notes}}
</span>
