<span ng-show="item.type == 'Culture'">
	{{item.cultureType}} {{item.type}}:
	{{item.date}}
	{{item.microscopy}}
	{{item.organism}}
	{{item.notes}}
</span>
<span ng-show="item.type == 'Dengue PCR'">
	{{item.type}}:
	{{item.date}}
	<span ng-show="item.pcr_positive">Positive</span>
	<span ng-hide="item.pcr_positive">Negative</span>
	{{item.notes}}
</span>
<span ng-show="item.type == 'Serology'">
	{{item.serologyCondition}} {{item.type}}:
	{{item.date}}
	<span ng-show="item.igm_positive">IgM Positive</span>
	<span ng-hide="item.igm_positive">IgM Negative</span>
	{{item.igm_titre}}
	<span ng-show="item.igg_positive">IgG Positive</span>
	<span ng-hide="item.igg_positive">IgG Negative</span>
	{{item.igg_titre}}
	{{item.notes}}
</span>
<span ng-show="item.type == 'Malaria film'">
	{{item.type}}:
	{{item.date}}
	{{item.parasitaemia}}
	{{item.notes}}
</span>
