{% extends "base.html" %}

{% block content %}
<div class="row content-offset">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-warning">
      <div class="panel-heading">Sign In</div>

      <div class="panel-body">    
        {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}" class="form-horizontal">
	      {% csrf_token %}
	      <div class="form-group">
		    <div class="col-sm-12">
              <input type="text" id="username" name="username"  placeholder="Username" 
                     autocomplete="off"
                     class="form-control"
                     autofocus="autofocus"
                     />
		    </div>
          </div>

          <div class="form-group">

		    <div class="col-sm-12">
              <input type="password" name="password" id="password" placeholder="Password" class="form-control">
		    </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
	          <button type="submit" class="btn btn-lg btn-warning pull-right"><i class="fa fa-key"></i> Sign in</button>
            </div>
          </div>

          <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
  $('#id_username').focus();
  });
</script>

{% endblock %}
