{% extends "base.html" %}
{% load static %}
{% block application %}
<div class="container-fluid h-100">
  <div class="row justify-content-md-center h-100 align-items-center">
    <div class="col col-md-4">

      <div class="card login">
        <h1 class="card-header bg-dark text-white">
          {% if OPAL_LOGO_PATH %}<img src="{% static OPAL_LOGO_PATH %}" />{% endif %}
          {{OPAL_BRAND_NAME}}
        </h1>

        <div class="card-body">
          {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
          {% endif %}

          <form method="post" action="{% url 'login' %}?next=/" class="form-horizontal">
	        {% csrf_token %}
	        <div class="form-group">
              <input type="text" id="username" name="username"  placeholder="Username"
                     autocomplete="off"
                     class="form-control lg-text"
                     autofocus="autofocus"
                     />
            </div>

            <div class="form-group">
              <input type="password" name="password" id="password" placeholder="Password" class="form-control">
            </div>

            <div class="form-group">
	          <button type="submit" class="btn btn-lg btn-dark" id="login">Sign in</button>
            </div>

            <input type="hidden" name="next" value="{{ next }}" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#id_username').focus();
    $('#login').click(
      function(){
        $('.login').addClass('submitted')
      })
  });
</script>
{% endblock %}
{% block loading %}
{% endblock %}
