{% extends 'base.html' %}

{% block content %}
{% if form.errors %}
  {% for field, error in form.errors.items %}
    <p class="text-error">
      {{ error }}
    </p>
  {% endfor %}
{% endif %}
<form method="post" action="{% url 'change-password' %}" class="form-horizontal">
	{% csrf_token %}
	<div class="control-group">
		<label class="control-label"{{ form.password1.label_tag }}</label>
		<div class="controls">
			{{ form.password1 }}
		</div>
	</div>

	<div class="control-group">
		<label class="control-label"{{ form.password2.label_tag }}</label>
		<div class="controls">
			{{ form.password2 }}
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Change Password</button>
		</div>
	</div>

</form>

{% endblock %}
