"""
Urls for the {{ name }} Opal plugin
"""
from __future__ import unicode_literals

from django.conf.urls import patterns, url

from {{ name }} import views

urlpatterns = patterns(
    '',
    #url(pattern, view)
)
