"""
Views for the {{ name }} Opal Plugin
"""
from __future__ import unicode_literals

# from django.views.generic import View

# You might find these helpful !
# from opal.core.views import LoginRequiredMixin, json_response
