{% load forms %}
{% datepicker label="Discharge date" model="editing.discharge_date" hide="editing.category=='Unfollow' || currentCategory=='Discharged'" mindate="[[editing.date_of_admission]]"%}

<div
   class="col-md-offset-3"
   ng-show="currentCategory != 'Followup' && currentCategory != 'Discharged' "
   >
  <h4>Reason</h4>
  <div class="radio radio-primary">
    <input type="radio" name="radio" id="radiodischarged" value="Discharged" ng-model="editing.category">
    <label for="radiodischarged">
      Discharge
    </label>
  </div>

  <div class="radio radio-primary">
    <input type="radio" name="radio" id="radiofollowup" value="Followup" ng-model="editing.category">
    <label for="radiofollowup">
      Discharged - Outstanding Results for Follow-Up
    </label>
  </div>

  <div class="radio radio-primary">
    <input type="radio" name="radio" id="radiodeceased" value="Deceased" ng-model="editing.category">
    <label for="radiodeceased">
      Deceased
    </label>
  </div>

  <div class="radio radio-primary">
    <input type="radio" name="radio" id="radiotransferred" value="Transferred" ng-model="editing.category">
    <label for="radiotransferred">
      Transferred
    </label>
  </div>

  <div class="radio radio-primary">
    <input type="radio" name="radio" id="radiounfollow" value="Unfollow" ng-model="editing.category">
    <label for="radiounfollow">
      No longer under active review
    </label>
  </div>

</div>

<div ng-show="currentCategory == 'Followup'">
  <input type="hidden" ng-model="editing.category" value="Discharged">
  <p>
    Confirm discharge and no further follow-up is required.
  </p>
</div>

<div ng-show="currentCategory == 'Discharged'">
  <p>Confirm discharge.</p>
</div>
