{% block list_actions %}
  {% block list_select %}
    {% include "patient_lists/partials/list_dropdown_menu.html" %}
  {% endblock %}
{% endblock %}
<table>
  {% block table_header %}
  <tr>
    {% for column in columns %}
      <th>
        <i class="{{ column.icon }}"></i>
        {{ column.title }}
      </th>
    {% endfor %}
  </tr>
  {% endblock %}
  <tr ng-repeat="row in rows" class="{% block table_class %}{% endblock %}">
    <a href="{% block row_link %}[[ '/#/patient/' + row.demographics[0].patient_id ]]{% endblock %}">
      {% for column in columns %}
        <td>
          <p ng-repeat="item in row.{{column.name}}">
            {% include column.template_path %}
          </p>
        </td>
      {% endfor %}
    </a>
  </tr>
</table>

<div class="empty-list" ng-hide="num_episodes > 0">
  <p class="lead text-center">
    There are no patients on this list.
  </p>
  <p class="lead text-center">
    <span class="screen-only">
      Would you like to {% block add_patient_if_none %}<a href="" ng-click="addEpisode()">add one?</a>{% endblock %}
    </span>
  </p>
</span>
</div>
