{% load forms %}
<div class="modal-header">
  <h3>
    <i class="glyphicon glyphicon-plus"></i>
    New Episode
  </h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="form">
    {% include models.Demographics.get_form_template %}
    {% select label="Hospital" model="editing.location.hospital" lookuplist="hospital_list" %}
    {% input label="Ward" model="editing.location.ward" %}
    {% input label="Bed" model="editing.location.bed" %}
    {% datepicker label="Date of admission" model="editing.start" %}
    {% include 'partials/_teams_select.html' %}
  </form>
</div>
<div class="modal-footer">
  <button one-click-only class="btn btn-primary" ng-click="save()" ng-disabled="form.date_of_birth.$invalid">
    <i class="fa fa-save"></i>
    Save record
  </button>
  <button class="btn" ng-click="cancel()">Cancel</button>
</div>
