{% extends 'modal_base.html' %}
{% block icon %}<i class="fa fa-crosshairs"></i>{% endblock %}
{% block modal_body %}
<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-3">Test</label>
        <div class="col-sm-8">
            <input class="form-control" type="text"
                   ng-model="editing.test"
                   ng-options="t for t in microbiology_test_list"
                   bs-typeahead
                   autofocus>
        </div>
    </div>

    <div class="form-group">
	    <label class="control-label col-sm-3">Date ordered</label>
	    <div class="col-sm-8">
		    <input class="form-control" type="text" ng-model="editing.date_ordered" bs-datepicker>
	    </div>
    </div>

    <div class="form-group">
	    <label class="control-label col-sm-3">Details</label>
	    <div class="col-sm-8">
		    <input class="form-control" type="text" ng-model="editing.details">
	    </div>
    </div>

    <span ng-show="testType == 'micro_test_mcs'">

        <div class="form-group">
            <label class="control-label col-sm-3">Microscopy</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" ng-model="editing.microscopy">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Organism</label>
            <div class="col-sm-8">
                <input class="form-control" type="text"
                       ng-model="editing.organism"
                       ng-options="o for o in microbiology_organism_list"
                       bs-typeahead
                       >
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-3">Sensitive antibiotics</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" ng-model="editing.sensitive_antibiotics"
                       ng-options="d for d in antimicrobial_list"
                       bs-typeahead>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Resistant antibiotics</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" ng-model="editing.resistant_antibiotics"
                       ng-options="d for d in antimicrobial_list"
                       bs-typeahead />
            </div>
        </div>

    </span>

    <span ng-show="testType == 'micro_test_serology'">

        <div class="form-group">
            <label class="control-label col-sm-3">IgM</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.igm">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.igm">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.igm">
                    negative
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="equivocal" ng-model="editing.igm">
                    equivocal
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="not done" ng-model="editing.igm">
                    not done
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">IgG</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.igg">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.igg">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.igg">
                    negative
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="equivocal" ng-model="editing.igg">
                    equivocal
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="not done" ng-model="editing.igg">
                    not done
                </label>
            </div>
        </div>

    </span>

    <span ng-show="testType == 'micro_test_ebv_serology'">

        <div class="form-group">
            <label class="control-label col-sm-3">VCA IgM</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.vca_igm">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.vca_igm">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.vca_igm">
                    negative
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="equivocal" ng-model="editing.vca_igm">
                    equivocal
                </label>
                <label class="radio-inline">
                    <input class="" type="radio" value="not done" ng-model="editing.vca_igm">
                    not done
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">VCA IgG</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.vca_igg">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.vca_igg">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.vca_igg">
                    negative
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="equivocal" ng-model="editing.vca_igg">
                    equivocal
                </label>
                <label class="radio-inline">
                    <input class="" type="radio" value="not done" ng-model="editing.vca_igg">
                    not done
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">EBNA IgG</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.ebna_igg">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.ebna_igg">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.ebna_igg">
                    negative
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="equivocal" ng-model="editing.ebna_igg">
                    equivocal
                </label>
                <label class="radio-inline">
                    <input class="" type="radio" value="not done" ng-model="editing.ebna_igg">
                    not done
                </label>

            </div>
        </div>

    </span>

    <span ng-show="testType == 'micro_test_hiv'">

        <div class="form-group">
            <label class="control-label col-sm-3">Result</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.result">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="antibody positive" ng-model="editing.result">
                    antibody positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="p24 antigen only" ng-model="editing.result">
                    p24 antigen only
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.result">
                    negative
                </label>

            </div>
        </div>

    </span>

    <span ng-show="testType == 'micro_test_hepititis_b_serology'">

        <div class="form-group">
            <label class="control-label col-sm-3">HBsAg</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.hbsag">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.hbsag">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.hbsag">
                    negative
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="equivocal" ng-model="editing.hbsag">
                    equivocal
                </label>
                <label class="radio-inline">
                    <input class="" type="radio" value="not done" ng-model="editing.hbsag">
                    not done
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">anti-HbS</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.anti_hbs">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.anti_hbs">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.anti_hbs">
                    negative
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="equivocal" ng-model="editing.anti_hbs">
                    equivocal
                </label>
                <label class="radio-inline">
                    <input class="" type="radio" value="not done" ng-model="editing.anti_hbs">
                    not done
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">anti-HbCore IgM</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.anti_hbcore_igm">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.anti_hbcore_igm">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.anti_hbcore_igm">
                    negative
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="equivocal" ng-model="editing.anti_hbcore_igm">
                    equivocal
                </label>
                <label class="radio-inline">
                    <input class="" type="radio" value="not done" ng-model="editing.anti_hbcore_igm">
                    not done
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">anti-HbCore IgG</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.anti_hbcore_igg">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.anti_hbcore_igg">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.anti_hbcore_igg">
                    negative
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="equivocal" ng-model="editing.anti_hbcore_igg">
                    equivocal
                </label>
                <label class="radio-inline">
                    <input class="" type="radio" value="not done" ng-model="editing.anti_hbcore_igg">
                    not done
                </label>

            </div>
        </div>

    </span>

    <span ng-show="testType == 'micro_test_syphilis_serology'">

        <div class="form-group">
            <label class="control-label col-sm-3">RPR</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" ng-model="editing.rpr">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">TPPA</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.tppa">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.tppa">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.tppa">
                    negative
                </label>

            </div>
        </div>

    </span>

    <span ng-show="testType == 'micro_test_single_test_pos_neg'">

        <div class="form-group">
            <label class="control-label col-sm-3">Result</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.result">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.result">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.result">
                    negative
                </label>

            </div>
        </div>

    </span>

    <span ng-show="testType == 'micro_test_single_test_pos_neg_equiv'">

        <div class="form-group">
            <label class="control-label col-sm-3">Result</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.result">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.result">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.result">
                    negative
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="equivocal" ng-model="editing.result">
                    equivocal
                </label>
                <label class="radio-inline">
                    <input class="" type="radio" value="not done" ng-model="editing.result">
                    not done
                </label>

            </div>
        </div>

    </span>

    <span ng-show="testType == 'micro_test_single_igg_test'">

        <div class="form-group">
            <label class="control-label col-sm-3">IgG</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.igg">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.igg">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.igg">
                    negative
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="equivocal" ng-model="editing.igg">
                    equivocal
                </label>
                <label class="radio-inline">
                    <input class="" type="radio" value="not done" ng-model="editing.igg">
                    not done
                </label>

            </div>
        </div>

    </span>

    <span ng-show="testType == 'micro_test_viral_load'">

        <div class="form-group">
            <label class="control-label col-sm-3">Viral load</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" ng-model="editing.viral_load">
            </div>
        </div>

    </span>

    <span ng-show="testType == 'micro_test_parasitaemia'">

        <div class="form-group">
            <label class="control-label col-sm-3">Parasitaemia</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" ng-model="editing.parasitaemia">
            </div>
        </div>

    </span>

    <span ng-show="testType == 'micro_test_swab_pcr'">

        <div class="form-group">
            <label class="control-label col-sm-3">HSV</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.hsv">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.hsv">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.hsv">
                    negative
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">VZV</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.vzv">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.vzv">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.vzv">
                    negative
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Syphilis</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.syphilis">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.syphilis">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.syphilis">
                    negative
                </label>

            </div>
        </div>

    </span>

    <span ng-show="testType == 'micro_test_c_difficile'">

        <div class="form-group">
            <label class="control-label col-sm-3">C. difficile antigen</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.c_difficile_antigen">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.c_difficile_antigen">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.c_difficile_antigen">
                    negative
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">C. difficile toxin</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.c_difficile_toxin">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.c_difficile_toxin">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.c_difficile_toxin">
                    negative
                </label>

            </div>
        </div>

    </span>

    <span ng-show="testType == 'micro_test_leishmaniasis_pcr'">

        <div class="form-group">
            <label class="control-label col-sm-3">Species</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" ng-model="editing.species">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Result</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.result">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.result">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.result">
                    negative
                </label>

            </div>
        </div>

    </span>

    <span ng-show="testType == 'micro_test_csf_pcr'">

        <div class="form-group">
            <label class="control-label col-sm-3">HSV-1</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.hsv_1">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.hsv_1">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.hsv_1">
                    negative
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">HSV-3</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.hsv_3">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.hsv_3">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.hsv_3">
                    negative
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Enterovirus</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.enterovirus">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.enterovirus">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.enterovirus">
                    negative
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">CMV</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.cmv">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.cmv">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.cmv">
                    negative
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">EBV</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.ebv">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.ebv">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.ebv">
                    negative
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">VZV</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.vzv">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.vzv">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.vzv">
                    negative
                </label>

            </div>
        </div>

    </span>

    <span ng-show="testType == 'micro_test_respiratory_virus_pcr'">

        <div class="form-group">
            <label class="control-label col-sm-3">Influenza-A</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.influenza_a">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.influenza_a">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.influenza_a">
                    negative
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Influenza-B</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.influenza_b">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.influenza_b">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.influenza_b">
                    negative
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Parainfluenza</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.parainfluenza">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.parainfluenza">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.parainfluenza">
                    negative
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Metapneumovirus</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.metapneumovirus">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.metapneumovirus">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.metapneumovirus">
                    negative
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">RSV</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.rsv">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.rsv">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.rsv">
                    negative
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Adenovirus</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.adenovirus">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.adenovirus">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.adenovirus">
                    negative
                </label>

            </div>
        </div>

    </span>

    <span ng-show="testType == 'micro_test_stool_pcr'">

        <div class="form-group">
            <label class="control-label col-sm-3">Norovirus</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.norovirus">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.norovirus">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.norovirus">
                    negative
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Rotavirus</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.rotavirus">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.rotavirus">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.rotavirus">
                    negative
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Adenovirus</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.adenovirus">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.adenovirus">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.adenovirus">
                    negative
                </label>

            </div>
        </div>

    </span>

    <span ng-show="testType == 'micro_test_stool_parasitology_pcr'">

        <div class="form-group">
            <label class="control-label col-sm-3">Giardia</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.giardia">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.giardia">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.giardia">
                    negative
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Entamoeba Histolytica</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.entamoeba_histolytica">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.entamoeba_histolytica">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.entamoeba_histolytica">
                    negative
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Cryptosporidium</label>
            <div class="col-sm-8">

                <label class="radio-inline">
                    <input class="" type="radio" value="pending" ng-model="editing.cryptosporidium">
                    pending
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="positive" ng-model="editing.cryptosporidium">
                    positive
                </label>

                <label class="radio-inline">
                    <input class="" type="radio" value="negative" ng-model="editing.cryptosporidium">
                    negative
                </label>

            </div>
        </div>

    </span>

    <span ng-show="testType == 'micro_test_other'">

        <div class="form-group">
            <label class="control-label col-sm-3">Result</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" ng-model="editing.result">
            </div>
        </div>

    </span>

</form>
{% endblock %}
