ul {
	margin-left: 0;
	margin-bottom: 0;
}

li {
	list-style: none;
	padding: 4px;
}

.table td {
	padding: 0px;
}

.table tr.selected {
	background-color: #eee;
}

.table tr.selected td.selected li.selected {
	background-color: #ddd;
}

.preserve-whitespace {
	white-space: pre;
}

