{% raw %}
{% extends 'modal_base.html' %}
{% load forms %}
{% block icon %}<i class="{% endraw %}{{ record._icon }}{% raw %}"></i>{% endblock %}
{% block modal_body %}
  <form class="form-horizontal">
{% endraw %}
{% for f in fields %}{% if f['name'] != 'consistency_token' %}
   {% if f['type'] == 'string' %}{{ '{' + '% input ' }} label="{{f['title']}}" model="editing.{{f['name']}}" {{' %' +'}' }}{% endif %}
   {% if f['type'] == 'date' %}{{ '{' + '% datepicker ' }} label="{{f['title']}}" model="editing.{{f['name']}}" {{' %' +'}' }}{% endif %}
   {% if f['type'] == 'text' %}{{ '{' + '% textarea ' }} label="{{f['title']}}" model="editing.{{f['name']}}" {{' %' +'}' }}{% endif %}
   {% if f['type'] == 'boolean' %}{{ '{' + '% checkbox ' }} label="{{f['title']}}" model="editing.{{f['name']}}" {{' %' +'}' }}{% endif %}
{% endif %}{% endfor %}
{% raw %}
  </form>
{% endblock %}
{% endraw %}
