{% load forms %}
<nav class="col-md-2 d-none d-md-block bg-dark sidebar h-100">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      {% for item in menu %}
      {% if item.template_name %}
      {% include item.template_name %}
      {% else %}
      <li {% if item.activepattern %}ng-class="nav-item {active: $location.absUrl().indexOf('{{ item.activepattern }}') != -1}"{% endif %}>
        <a class="nav-link" href="{{ item.href }}">
          {{ item.display }}
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
