<h4>Panel Default</h4>
<p class="lead">
  Commonly used as to contain <b>editable data</b> on patients, or groups of
  <b>actions</b> a user can take.
</p>
<p class="lead">
  See also: <b>Record Panels</b>
</p>

<!-- Demo -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      The Heading
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <p>The Body</p>
      </div>
    </div>
  </div>
</div>
<!-- Demo -->

<h4>Usage:</h4>
<pre><code class="html hljs">{% filter force_escape %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      The Heading
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <p>The Body</p>
      </div>
    </div>
  </div>
</div>
{% endfilter %}</code></pre>
