{% extends 'static_page.html' %}
{% block content %}
<div class="outer-container">
  <div class="row content-offset">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="content-offset">
        Cripes! Looks like something's gone wrong.
      </h1>
      <h2>
        Server Error (500)
      </h2>
      <p class="lead">
        The technical support team have already been automatically informed of this error,
        and will be looking in to it.
      </p>
    </div>
  </div>
</div>
{% endblock %}
