
<table class="table table-bordered table-striped table-hover search" ng-show="results.length > 0">
  <thead>
    <tr>
      <td>Hospital #</td>
      <td>Name</td>
      <td>DOB</td>
      <td>Admitted</td>
      <td>Discharged</td>
    </tr>
  </thead>
  <tbody>
	<tr class="pointer"
        ng-click="jumpToEpisode(result)"
        ng-repeat="result in results | limitTo: limit"
        >
	  <td>[[result.demographics[0].hospital_number]]</td>
	  <td>[[result.demographics[0].name]]</td>
      <td>[[result.demographics[0].date_of_birth | shortDate ]]</td>
	  <td>[[ result.date_of_admission | shortDate ]]</td>
      <td>[[ result.discharge_date | shortDate ]]</td>
	</tr>
  </tbody>

</table>
