<div class="panel-body">
  <div class="row">
  {% for column in columns %}
	<div class="col-md-8"
         {% if column.episode_category %} ng-show="episode.location[0].category == '{{column.episode_category}}'"{% endif %}
         {% if column.episode_category_excludes %} ng-hide="{{column.episode_category_excludes}}.indexOf(episode.location[0].category) != -1"{% endif %}
         >
      <div class="well">
		<h4>
          {{ column.title }}
          {% if not column.single %}
            <button class="btn btn-default pull-right"
                    ng-show="!profile.readonly"
                    ng-click="newNamedItem('{{column.name}}')"
                    >
              <i class="glyphicon glyphicon-plus"></i>
            </button>
          {% else %}
            <button class="btn btn-default pull-right"
                    ng-show="!profile.readonly"
                    ng-click="editNamedItem('{{column.name}}', 0)"
                    >
              <i class="glyphicon glyphicon-pencil"></i>
            </button>            
          {% endif %}
        </h4>

        {% if column.batch_template %}
          {% with cix=forloop.counter0 %}{% with column_name=column.name %}
            {% include column.detail_template_path %}
          {% endwith %}{% endwith %}
        {% else %}
		  <ul ng-mouseenter="mouseEnter({{ forloop.counter0 }})" ng-mouseleave="mouseLeave()">
			<li ng-repeat="item in episode.{{column.name}}"
				ng-click="selectItem({{ forloop.counter0 }}, $index)"
				ng-dblclick="editItem({{ forloop.counter0 }}, $index)"
				{% if not column.single %}
                  ng-class="{selected: cix == {{ forloop.counter0 }} && iix == $index}"
                {% endif %}
                  >
                {% if not column.single %}
                  <button class="btn btn-default btn-xs"
                          ng-show="!profile.readonly"
                          ng-click="editNamedItem('{{column.name}}', $index)"
                          >
                    <i class="glyphicon glyphicon-pencil"></i>
                  </button>            
                {% endif %}
			      {% include column.detail_template_path %}
			</li>
		  </ul>
        {% endif %}

		{% if not column.single %}
          <h4 ng-show="episode.{{column.name}}.length > 2">
            &nbsp;
            <button class="btn btn-default pull-right"
                    ng-show="!profile.readonly"
                    ng-click="newNamedItem('{{column.name}}')"
                    >
              <i class="glyphicon glyphicon-plus"></i>
            </button>
          </h4>
		{% endif %}

      </div> <!-- Well -->
    </div> <!-- Col -->
    {% cycle '' '</div><div class="row">' %}
  {% endfor %}
  </div>
</div>
<table class="table table-bordered">
</table>
