{% extends 'modal_base.html' %}
{% load forms %}
{% block icon %}<i class="fa fa-flask"></i>{% endblock %}
{% block modal_body %}
  <div class="row">
    <div class="col-md-8">
      <form class="form-horizontal">
        {% input "autofocus" label="Drug" model="editing.drug" lookuplist="antimicrobial_list" %}
        {% datepicker label="Start date" model="editing.start_date" %}
        {% datepicker label="End date" model="editing.end_date" %}
        {% input label="Dose" model="editing.dose" %}
        {% input label="Route" model="editing.route" lookuplist="antimicrobial_route_list" %}
        {% input label="Frequency" model="editing.frequency" lookuplist="antimicrobial_frequency_list" %}
        <div ng-show="episode_category == 'OPAT'" >
          {% input label="Delivered by" model="editing.delivered_by" lookuplist="drug_delivered_list" %}
          {% select label="Adverse events" model="editing.adverse_event" lookuplist="antimicrobial_adverse_event_list" other=True %}
          {% select label="Reason for Stopping" model="editing.reason_for_stopping" lookuplist="iv_stop_list" %}
          {% textarea label="Comments" model="editing.comments" %}
        </div>
      </form>
    </div>
    <div class="col-md-4">
      {% include 'modals/_allergies_sidebar.html' %}
    </div>

  </div>
{% endblock %}
