<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label">Drug</label>
		<div class="controls">
			<input type="text" ng-model="editing.drug" bs-typeahead="antimicrobial_list">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Start date</label>
		<div class="controls">
			<input type="text" ng-model="editing.start_date" bs-datepicker>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">End date</label>
		<div class="controls">
			<input type="text" ng-model="editing.end_date" bs-datepicker>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Dose</label>
		<div class="controls">
			<input type="text" ng-model="editing.dose">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Route</label>
		<div class="controls">
			<input type="text" ng-model="editing.route" bs-typeahead="antimicrobial_route_list">
		</div>
	</div>
</form>
