<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="opalApp" ng-controller="TableCtrl" ng-keydown="keypress($event)">
	<head>
		<!--[if lte IE 8]>
		<script src="assets/js/lib/utils/json3.min.js"></script>
		<script>
			document.createElement('field');
			document.createElement('fielditem');
			document.createElement('modal');
			document.createElement('modalform');
		<![endif]-->
		<meta charset="utf-8">
		<title>OPAL is not a Patient Activity List</title>
		<link href="/assets/css/bootstrap-2.3.2.css" rel="stylesheet" media="screen">
		<link href="/assets/css/opal.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand pull-left" href="/">OPAL is not a Patient Activity List</a>
				<ul class="nav pull-right">
					<li><a href="/">Home</a></li>
					<li><a href="/admin">Admin</a></li>
					<li><a href="/contact">Feedback</a></li>
				</ul>
			</div>
		</div>
		<iframe src="https://docs.google.com/forms/d/16YEeaFJ0dETvmhQa28pJOBotg5J-9zuXxboGcA2gNzM/viewform?embedded=true" width="760" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
	</body>
</html>
