<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label">Hospital number</label>
		<div class="controls">
			<input type="text" ng-model="editing.hospital_number">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Name</label>
		<div class="controls">
			<input type="text" ng-model="editing.name">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Date of birth</label>
		<div class="controls">
			<input type="text"
				ng-model="editing.date_of_birth"
				ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])\/(0?[1-9]|1[012])\/(\d{4})$/"
				placeholder="dd/mm/yyyy">
		</div>
	</div>
</form>
