{% load panels %}
<div class="container content-offset detail">

  <div class="row spaced bg-primary">
    <div class="col-md-12 box">
      <h1>
        [[ episode.demographics[0].name ]]
        <small>
          [[ episode.demographics[0].hospital_number ]]
          [[ episode.demographics[0].date_of_birth | shortDate ]]
        </small>
      </h1>
    </div>
  </div>

  <div class="row"> <!-- Main Panel -->
    <div class="col-md-9"> <!-- Detail panels -->
      <div class="row">
        <div class="col-md-6"> <!-- Detail panels col 1 -->
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>
                <i class="fa fa-users"></i> Demographics
                <i class="fa fa-pencil edit pull-right"
                   ng-click="editNamedItem('demographics', 0)"></i>
              </h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <b>Hospital #</b>
                </div>
                <div class="col-md-8">
                  [[ episode.demographics[0].hospital_number ]]
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <b>DOB</b>
                </div>
                <div class="col-md-8">
                  [[ episode.demographics[0].date_of_birth | shortDate ]]
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <b>Gender</b>
                </div>
                <div class="col-md-8">
                  [[ episode.demographics[0].gender ]]
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <b>Born</b>
                </div>
                <div class="col-md-8">
                  [[ episode.demographics[0].country_of_birth ]]
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <b>Ethnicity</b>
                </div>
                <div class="col-md-8">
                  [[ episode.demographics[0].ethnicity ]]
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>
                <i class="fa fa-map-marker"></i> Location
                <i class="fa fa-pencil edit pull-right"
                   ng-click="editNamedItem('location', 0)"></i>
              </h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <b>Category</b>
                </div>
                <div class="col-md-8">
                  [[ episode.location[0].category ]]
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <b>Admitted</b>
                </div>
                <div class="col-md-8">
                  [[ episode.date_of_admission | shortDate ]]
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <b>Hospital</b>
                </div>
                <div class="col-md-8">
                  [[ episode.location[0].hospital ]]
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <b>Ward</b>
                </div>
                <div class="col-md-8">
                  [[ episode.location[0].ward ]]
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <b>Bed</b>
                </div>
                <div class="col-md-8">
                  [[ episode.location[0].bed ]]
                </div>
              </div>
            </div>
          </div>

          {% record_panel models.Allergies %}
          {% record_panel models.PastMedicalHistory %}
          {% record_panel models.Travel %}
          {% record_panel models.MicrobiologyInput %}
          
        </div>                 <!-- Ends Detail panels col 1 -->
        <div class="col-md-6"> <!-- Detail panels col 2 -->
          {% record_panel models.PresentingComplaint %}
          {% record_panel models.Diagnosis %}
          {% record_panel models.Antimicrobial %}
          {% record_panel models.MicrobiologyTest %}
          {% record_panel models.Todo %}
          {% record_panel models.GeneralNote %}
          
        </div>                 <!-- Ends Detail panels col 2 -->
      </div>
    </div> <!-- Ends Detail Panels -->
    <div class="col-md-3 box bg-white"> <!-- Action Panels -->
      <div class="panel panel-default">
        <div class="panel-heading ">
          <h3>[[ episode.demographics[0].name ]]</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <h4>
              <i class="fa fa-users"></i> Teams
              <i class="fa edit fa-pencil pointer pull-right"
                 ng-click="editNamedItem('tagging', 0)"></i>

            </h4>
            <p>
              <span ng-repeat="tag in childTags()">
                <button class="btn btn-xs" ng-click="jumpToTag(tag)" ng-show="tag_display[tag] != undefined">
                  [[ tag_display[tag] ]]
                </button>
              </span>
            </p>
          </li>
          <li class="list-group-item">
            <h4><i class="fa fa-bolt"></i> Actions</h4>
            <p>
              <button 
                 ng-hide="profile.readonly"
                 ng-click="dischargeEpisode($event)"
                 class="btn btn-primary">
                <i class="fa fa-home"></i>
                Discharge
              </button>
            </p>
          </li>
        </ul>

      </div>
    </div>
  </div> <!-- Ends Action Panels -->
</div> <!-- Ends Main Panel -->

