<div class="container content-offset">

  <div class="panel panel-warning">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h2>
        [[episode.demographics[0].name]]
        <small>
          [[episode.demographics[0].hospital_number]]
          [[episode.demographics[0].date_of_birth | shortDate]]
        </small>

        <button type="button" class="btn btn-lg btn-danger pull-right"
                ng-click="historyModal()"
                >
          Episode [[ this_episode_number ]] of [[ total_episodes ]]
          <i class="glyphicon glyphicon-time"></i>
        </button>

      </h2>
    </div>
    {% include '_episode_detail.html' %}
    <!-- Table -->
  </div>
  
</div>

