<div class="container">
  <div class="row">
    {% if not request.user.get_profile.can_extract %}
      <div class="col-md-4 col-md-offset-4">
        <h2>Data Extract</h2>
        <p>
          Sorry, you don't have permission to extract data.
          Please contact your local administrator to request permission.
        </p>
      </div>
    {% else %}
      <div class="col-md-12">
        <h2>Data Extract</h2>
        <form class="form-inline">
      </div>

      <span ng-repeat="query in criteria">
        <div class="row">
          <div class="col-md-2">
            <select class="form-control" ng-model="query.combine"
                    ng-hide="$index == 0">
              <option>and</option>
              <option>or</option>
              <option>not</option>
            </select>
          </div>
        <div class="col-md-2">
          <select class="form-control" ng-model="query.column">
            <option ng-repeat="name in column_names">[[name]]</option>
          </select>
          <p ng-show="query.column == null">
            1. Select a Column
          </p>
        </div>
        <div class="col-md-2">
          <span ng-repeat="col in columns"
                ng-show="query.column == col.name.underscoreToCapWords()">
                <select class="form-control" ng-model="query.field" >
                  <option ng-repeat="field in searchableFields(col)">[[field]]</option>
                </select>
          </span>
          <p ng-show="query.column != null && query.field == null">
            2. Select a field
          </p>
        </div>
        <div class="col-md-2">
          <select class="form-control"
                  ng-show="query.field != null"
                  ng-model="query.queryType" >
                  <option>Equals</option>
                  <option>Contains</option>
          </select>
          <p ng-show="query.column != null && query.field != null && query.queryType == null">
            3. Select a query type
          </p>
        </div>
        <div class="col-md-2">
          <input type="text"
                 ng-model="query.query"
                 ng-show="query.field != null"
                 />
                 <p ng-show="query.queryType != null && query.query == null && query.field != null">4. Add your value</p>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-success"
                  ng-show="query.field != null"
                  ng-click="addFilter()"
                  >
            <span ng-click="addFilter" class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
        </div>
      </span>

      </form>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p></p>
      <p>
        <button type="button"
                class="btn btn-primary btn-lg"
                ng-click="search()"
                >
                <span class="glyphicon glyphicon-search"></span>
                Search
        </button>
      </p>
    </div>
    <div class="col-md-12">
      <div ng-show="state=='pending'">
        <img src="/assets/img/loading.gif">
      </div>

      <div ng-show="state=='normal' && results.length > 0">
        <p ng-repeat="result in results">
          <a href="#/episode/[[result.id]]" target="_blank">
            [[ result.date_of_admission ]] [[ result.demographics[0].name ]]
          </a>
        </p>
        <p> Results 1- [[  results.length >= 10 && 10 || results.length ]] of [[ results.length ]]</p>
        <button type="button"
                class="btn btn-info btn-lg"
                ng-click="download()"
                >
                Download these results
                <span class="glyphicon glyphicon-download"></span>
        </button>
        <button type="button"
                class="btn btn-info btn-lg pull-right"
                ng-click="save()"
                >
                Save this search
                <span class="glyphicon glyphicon-floppy-disk"></span>
        </button>

      </div>

      <div ng-show="state=='normal' && results.length == 0">
        <p>
          Sorry, no results match your search.
        </p>
      </div>

      <ul class="hide">
        <li ng-repeat="col in columns">
          [[ col.name ]] (Single=[[col.single]])
          <ul>
            <li ng-repeat="f in col.fields">
              [[f.name]]: [[ f.type ]]
            </li>
          </ul>
        </li>
      </ul>

{% endif %}
    </div>
  </div>
