<div class="modal-header">
  <h3>
    <i class="glyphicon glyphicon-plus"></i>
    Add Patient
  </h3>
</div>

<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
	  <label class="control-label col-sm-3">Hospital number</label>
	  <div class="col-sm-8">
	    <input class="form-control"
               ng-model="model.hospitalNumber"
               ng-keypress="$event.keyCode == 13 && findByHospitalNumber()"
               autofocus="true"
               >
	  </div>
    </div>
  </form>
  <div ng-show="result && !result.demographics.length">
    <p class="lead text-center">
      We couldn't find any patients with this hospital number.
    </p>
    <p class="lead text-center">
      <b>Please check you have entered the hospital number correctly</b>
    </p>
    <p class="lead text-center">
      If this is the correct number and the patient is currently at a different hospital or in the community you can add them as an elCID only patient
    </p>
    <div class="text-center">
      <button ng-click="newPatient()" class="btn btn-secondary">
        <i class="fa fa-user"></i>Create New Patient
      </button>
    </div>
</div>
  <div ng-show="result.merged.length">
    <p class="lead text-center">
      We've found this patient's records have been <b>merged</b> with another patient.
    </p>
    <p class="lead text-center">
      The correct patient for this hospital number is
      <b>[[ result.merged[0].demographics[0].first_name ]] [[ result.merged[0].demographics[0].surname ]] ([[ result.merged[0].demographics[0].hospital_number ]])</b>
    </p>
    <div class="text-center">
      <button ng-click="newForPatient(result.merged[0])" class="btn btn-secondary">
        <i class="fa fa-user"></i> Create An Episode For [[ result.merged[0].demographics[0].first_name ]] [[ result.merged[0].demographics[0].surname ]]
      </button>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-lg" ng-click="findByHospitalNumber()">
    <i class="fa fa-search"></i>
    Search
  </button>
  <button class="btn btn-lg" ng-click="cancel()">Cancel</button>
</div>
