
<div id="keyboard-shortcuts" class="modal hide" tabindex="-1" role="dialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="cancelDelete()">×</button>
		<h3>Keyboard Shortcuts</h3>
	</div>
	<div class="modal-body">
          <table >
            <tr>
              <td>
                <span class="label">?</span>
              </td>
              <td>
                Show this help dialog
              </td>
            </tr>
            <tr>
              <td>
                <span class="label">enter</span>
              </td>
              <td>
                Start editing
              </td>
            </tr>
            <tr>
              <td>
                <span class="label">F2</span>
              </td>
              <td>
                Start editing
              </td>
            </tr>
            <tr>
              <td>
                <span class="label">backspace</span>
              </td>
              <td>
                Delete item
              </td>
            </tr>
            <tr>
              <td>
                <span class="label">delete</span>
              </td>
              <td>
                Delete item
              </td>
            </tr>
            <tr>
              <td>
                <span class="label">left</span>
              </td>
              <td>
                Go left
              </td>
            </tr>
            <tr>
              <td>
                <span class="label">right</span>
              </td>
              <td>
                Go right
              </td>
            </tr>
            <tr>
              <td>
                <span class="label">up</span>
              </td>
              <td>
                Go up
              </td>
            </tr>
            <tr>
              <td>
                <span class="label">down</span>
              </td>
              <td>
                Go down
              </td>
            </tr>
          </table>
        </div>
</div>
