<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label">Category</label>
		<div class="controls">
			<input type="text" ng-model="editing.category" bs-typeahead="patient_category_list" data-provide="typeahead" data-min-length=0>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Hospital</label>
		<div class="controls">
			<input type="text" ng-model="editing.hospital">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Ward</label>
		<div class="controls">
			<input type="text" ng-model="editing.ward">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Bed</label>
		<div class="controls">
			<input type="text" ng-model="editing.bed">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Date of admission</label>
		<div class="controls">
			<input type="text" ng-model="editing.date_of_admission" bs-datepicker>
		</div>
	</div>
</form>

