<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label">Date</label>
		<div class="controls">
			<input type="text" ng-model="editing.date">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Initials</label>
		<div class="controls">
			<input type="text" ng-model="editing.initials">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Clinical discussion</label>
		<div class="controls">
			<textarea ng-model="editing.clinical_discussion" rows="5"></textarea>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Agreed plan</label>
		<div class="controls">
			<textarea ng-model="editing.agreed_plan" rows="5"></textarea>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Discussed with</label>
		<div class="controls">
			<input type="text" ng-model="editing.discussed_with">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Clinical advice given?</label>
		<div class="controls">
			<input type="checkbox" ng-model="editing.clinical_advice_given">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Giving result?</label>
		<div class="controls">
			<input type="checkbox" ng-model="editing.giving_result">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Infection control advice given?</label>
		<div class="controls">
			<input type="checkbox" ng-model="editing.infection_control_advice_given">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Change in antibiotic prescription?</label>
		<div class="controls">
			<input type="checkbox" ng-model="editing.change_in_antibiotic_prescription">
		</div>
	</div>
</form>
