
[[item.date_ordered | date:'d/M']]
[[item.test]]
<ul>
    <li>[[item.details]]</li>

    <span ng-show="item.test == 'Broncheoalveolar lavage MC&S' || item.test == 'Blood Culture' || item.test == 'CSF AFB microscopy & TB culture' || item.test == 'CSF MC&S' || item.test == 'Fluid MC&S' || item.test == 'Lymph Node MC&S' || item.test == 'Pleural MC&S' || item.test == 'Sputum AFB microscopy & TB culture' || item.test == 'Sputum MC&S' || item.test == 'Stool MC&S' || item.test == 'Stool OCP' || item.test == 'Throat Swab MC&S' || item.test == 'Tissue AFB microscopy & TB culture' || item.test == 'Tissue MC&S' || item.test == 'Urine AFB microscopy & TB culture' || item.test == 'Urine MC&S' || item.test == 'Wound swab MC&S'">

<li ng-show="item.microscopy && item.microscopy != 'pending'">[[item.microscopy]]</li>

<li ng-show="item.organism && item.organism != 'pending'">[[item.organism]]</li>

<li ng-show="item.sensitive_antibiotics && item.sensitive_antibiotics != 'pending'">Sensitive antibiotics: [[item.sensitive_antibiotics]]</li>

<li ng-show="item.resistant_antibiotics && item.resistant_antibiotics != 'pending'">Resistant antibiotics: [[item.resistant_antibiotics]]</li>

    </span>

    <span ng-show="item.test == 'CMV Serology' || item.test == 'Dengue Serology' || item.test == 'Hepatitis A Serology' || item.test == 'Hepatitis E Serology' || item.test == 'Measles Serology' || item.test == 'Rubella Serology' || item.test == 'Toxoplasmosis Serology' || item.test == 'VZV Serology' || item.test == 'Brucella Serology'">

<li ng-show="item.igm && item.igm != 'pending'">IgM: [[item.igm]]</li>

<li ng-show="item.igg && item.igg != 'pending'">IgG: [[item.igg]]</li>

    </span>

    <span ng-show="item.test == 'EBV Serology'">

<li ng-show="item.vca_igm && item.vca_igm != 'pending'">VCA IgM: [[item.vca_igm]]</li>

<li ng-show="item.vca_igg && item.vca_igg != 'pending'">VCA IgG: [[item.vca_igg]]</li>

<li ng-show="item.ebna_igg && item.ebna_igg != 'pending'">EBNA IgG: [[item.ebna_igg]]</li>

    </span>

    <span ng-show="item.test == 'HIV'">

<li ng-show="item.result && item.result != 'pending'">[[item.result]]</li>

    </span>

    <span ng-show="item.test == 'Hepatitis B Serology'">

<li ng-show="item.hbsag && item.hbsag != 'pending'">HBsAg: [[item.hbsag]]</li>

<li ng-show="item.anti_hbs && item.anti_hbs != 'pending'">anti-HbS: [[item.anti_hbs]]</li>

<li ng-show="item.anti_hbcore_igm && item.anti_hbcore_igm != 'pending'">anti-HbCore IgM: [[item.anti_hbcore_igm]]</li>

<li ng-show="item.anti_hbcore_igg && item.anti_hbcore_igg != 'pending'">anti-HbCore IgG: [[item.anti_hbcore_igg]]</li>

    </span>

    <span ng-show="item.test == 'Syphilis Serology'">

<li ng-show="item.rpr && item.rpr != 'pending'">RPR: [[item.rpr]]</li>

<li ng-show="item.tppa && item.tppa != 'pending'">TPPA: [[item.tppa]]</li>

    </span>

    <span ng-show="item.test == 'Cryptococcal antigen' || item.test == 'Dengue PCR' || item.test == 'JC Virus PCR' || item.test == 'MRSA PCR' || item.test == 'Rickettsia PCR' || item.test == 'Scrub Typhus PCR' || item.test == 'Borrleia Screening Serology' || item.test == 'Brorleia Reference Serology' || item.test == 'Viral Haemorrhagic Fever PCR'">

<li ng-show="item.result && item.result != 'pending'">[[item.result]]</li>

    </span>

    <span ng-show="item.test == 'Amoebic Serology' || item.test == 'Cystercicosis Serology' || item.test == 'Fasciola Serology' || item.test == 'Filaria Serology' || item.test == 'Hydatid Serology' || item.test == 'Strongyloides Serology' || item.test == 'Toxcocara Serology' || item.test == 'Trypanosomiasis brucei Serology' || item.test == 'Trypanosomiasis cruzi serology'">

<li ng-show="item.result && item.result != 'pending'">[[item.result]]</li>

    </span>

    <span ng-show="item.test == 'Hepatitis C Serology' || item.test == 'Hepatitis D Serology' || item.test == 'HHV-6 Serology' || item.test == 'HHV-7 Serology' || item.test == 'HTLV Serology'">

<li ng-show="item.igg && item.igg != 'pending'">IgG: [[item.igg]]</li>

    </span>

    <span ng-show="item.test == 'CMV Viral Load' || item.test == 'EBV Viral Load ' || item.test == 'HBV Viral Load' || item.test == 'HCV Viral Load' || item.test == 'HHV-6 Viral Load' || item.test == 'HHV-7 Viral Load' || item.test == 'HHV-8 Viral Load' || item.test == 'HIV Viral Load' || item.test == 'Measles PCR' || item.test == 'VZV Viral Load'">

<li ng-show="item.viral_load && item.viral_load != 'pending'">Viral load: [[item.viral_load]]</li>

    </span>

    <span ng-show="item.test == 'Babesia Film' || item.test == 'Malaria Film' || item.test == 'Microfilarial Film'">

<li ng-show="item.parasitaemia && item.parasitaemia != 'pending'">Parasitaemia: [[item.parasitaemia]]</li>

    </span>

    <span ng-show="item.test == 'Swab PCR'">

<li ng-show="item.hsv && item.hsv != 'pending'">HSV: [[item.hsv]]</li>

<li ng-show="item.vzv && item.vzv != 'pending'">VZV: [[item.vzv]]</li>

<li ng-show="item.syphilis && item.syphilis != 'pending'">Syphilis: [[item.syphilis]]</li>

    </span>

    <span ng-show="item.test == 'C. difficile'">

<li ng-show="item.c_difficile_antigen && item.c_difficile_antigen != 'pending'">C. difficile antigen: [[item.c_difficile_antigen]]</li>

<li ng-show="item.c_difficile_toxin && item.c_difficile_toxin != 'pending'">C. difficile toxin: [[item.c_difficile_toxin]]</li>

    </span>

    <span ng-show="item.test == 'Leishmaniasis PCR'">

<li ng-show="item.species && item.species != 'pending'">Species: [[item.species]]</li>

<li ng-show="item.result && item.result != 'pending'">[[item.result]]</li>

    </span>

    <span ng-show="item.test == 'CSF PCR'">

<li ng-show="item.hsv_1 && item.hsv_1 != 'pending'">HSV-1: [[item.hsv_1]]</li>

<li ng-show="item.hsv_1 && item.hsv_1 != 'pending'">HSV-1: [[item.hsv_1]]</li>

<li ng-show="item.enterovirus && item.enterovirus != 'pending'">Enterovirus: [[item.enterovirus]]</li>

<li ng-show="item.cmv && item.cmv != 'pending'">CMV: [[item.cmv]]</li>

<li ng-show="item.ebv && item.ebv != 'pending'">EBV: [[item.ebv]]</li>

<li ng-show="item.vzv && item.vzv != 'pending'">VZV: [[item.vzv]]</li>

    </span>

    <span ng-show="item.test == 'Respiratory Virus PCR'">

<li ng-show="item.influenza_a && item.influenza_a != 'pending'">Influenza-A: [[item.influenza_a]]</li>

<li ng-show="item.influenza_b && item.influenza_b != 'pending'">Influenza-B: [[item.influenza_b]]</li>

<li ng-show="item.parainfluenza && item.parainfluenza != 'pending'">Parainfluenza: [[item.parainfluenza]]</li>

<li ng-show="item.metapneumovirus && item.metapneumovirus != 'pending'">Metapneumovirus: [[item.metapneumovirus]]</li>

<li ng-show="item.rsv && item.rsv != 'pending'">RSV: [[item.rsv]]</li>

<li ng-show="item.adenovirus && item.adenovirus != 'pending'">Adenovirus: [[item.adenovirus]]</li>

    </span>

    <span ng-show="item.test == 'Stool PCR'">

<li ng-show="item.norovirus && item.norovirus != 'pending'">Norovirus: [[item.norovirus]]</li>

<li ng-show="item.rotavirus && item.rotavirus != 'pending'">Rotavirus: [[item.rotavirus]]</li>

<li ng-show="item.adenovirus && item.adenovirus != 'pending'">Adenovirus: [[item.adenovirus]]</li>

    </span>

    <span ng-show="item.test == 'Stool Parasitology PCR'">

<li ng-show="item.giardia && item.giardia != 'pending'">Giardia: [[item.giardia]]</li>

<li ng-show="item.entamoeba_histolytica && item.entamoeba_histolytica != 'pending'">Entamoeba Histolytica: [[item.entamoeba_histolytica]]</li>

<li ng-show="item.cryptosporidium && item.cryptosporidium != 'pending'">Cryptosporidium: [[item.cryptosporidium]]</li>

    </span>

    <span ng-show="item.test == 'Other'">

<li ng-show="item.result && item.result != 'pending'">[[item.result]]</li>

    </span>

</ul>
