<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label">Date</label>
		<div class="controls">
			<input type="text" ng-model="editing.date" bs-datepicker>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Initials</label>
		<div class="controls">
			<input type="text" ng-model="editing.initials">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Reason for clinical interaction</label>
		<div class="controls">
			<input type="text" ng-model="editing.reason_for_interaction" bs-typeahead="clinical_advice_reason_for_interaction_list">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Clinical discussion</label>
		<div class="controls">
			<textarea ng-model="editing.clinical_discussion" rows="5"></textarea>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Agreed plan</label>
		<div class="controls">
			<textarea ng-model="editing.agreed_plan" rows="5"></textarea>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Discussed with</label>
		<div class="controls">
			<input type="text" ng-model="editing.discussed_with">
		</div>
	</div>
	<table>
		<tr>
			<td>
				<label class="checkbox inline">
					<input type="checkbox" ng-model="editing.clinical_advice_given">
					Clinical advice given?
				</label>
			</td>
			<td>
				<label class="checkbox inline">
					<input type="checkbox" ng-model="editing.change_in_antibiotic_prescription">
					Change in antibiotic prescription?
				</label>
			</td>
		</tr>

		<tr>
			<td>
				<label class="checkbox inline">
					<input type="checkbox" ng-model="editing.infection_control_advice_given">
					Infection control advice given?
				</label>
			</td>
			<td>
				<label class="checkbox inline">
					<input type="checkbox" ng-model="editing.referred_to_opat">
					Referred to OPAT?
				</label>
			</td>
		</tr>
	</table>
</form>
