      <div class="modal-header">
	    <button type="button" class="close" ng-click="cancel()">×</button>
	    <h3>{% block title %}{{title}} ([[editingName]]){% endblock %}</h3>
      </div>
      <div class="modal-body">
        {% block modal_body %}{% endblock %}
      </div>
      <div class="modal-footer">
        {% block modal_save %}
	      <button class="btn btn-primary" ng-click="save('save')">Save</button>
        {% endblock %}
	    {% if not single %}
          {% block modal_another %}
	      <button class="btn btn btn-primary" ng-click="save('save-and-add-another')">
            Save and add another
          </button>
          {% endblock %}
	    {% endif %}
          {% block modal_cancel %}
	      <button class="btn" ng-click="cancel()">Cancel</button>
          {% endblock %}
      </div>
