{% load opalplugins %}
{% load static %}
<nav class="navbar navbar-primary navbar-fixed-top screen-only" role="navigation" id="main-navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	  
	  <a class="navbar-brand" href="/">
        <img src="{% static 'img/ohc-trans.png' %}" />
        {{OPAL_BRAND_NAME}}
      </a>
      <p class="navbar-text">
        <a href="#changelog" role="button" data-toggle="modal">
          <span id="changelogTooltip"
                data-toggle="tooltip"
                data-trigger="manual"
                data-title="{{OPAL_BRAND_NAME}} has been updated - click here to view the changes"
                data-placement="bottom"
                >
            {{ VERSION_NUMBER }}
          </span>
        </a>
        <span class="print-only">{% now "DATE_FORMAT" %}</span>
      </p>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
	    <li ng-class="{active: $location.path().indexOf('/list/') == 0}">
          <a href="/#">
            <i class="fa fa-table"></i> Lists
          </a>
        </li>
	    <li ng-class="{active: $location.path().indexOf('/search') == 0}">
          <a href="/#/search">
            <i class="fa fa-search"></i> Search
          </a>
        </li>
          {% plugin_menuitems %}
        {% if request.user.is_staff %}
	    <li><a href="/admin"><i class="fa fa-cogs"></i> Admin</a></li>
        {% endif %}

        <li >
          <a href="#/account" title="Your Account">
            <i class="fa fa-user"></i>
          </a>
        </li>
	    <li><a href="{% url 'django.contrib.auth.views.logout' %}" title="Log out">
            <i class="fa fa-sign-out"></i>
        </a></li>
        
        {% endif %}

      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="modal" id="changelog">
  <div class="modal-dialog">
    <div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Changelog</h3>
	  </div>
	  <div class="modal-body">
        {% include 'changelog.html' %}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
