{% load staticfiles %}
<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="opal" ng-controller="RootCtrl" ng-keydown="keydown($event)">
	<head>

		<!--[if lte IE 8]>
			<script type="text/javascript" src="{% static "js/json3.min.js" %}"></script>
		<![endif]-->
		<meta charset="utf-8">
		<title>OPAL-UCH</title>

                <!-- 3rd party -->
		<script type="text/javascript" src="{% static "js/jquery-1.9.1/jquery.js" %}"></script>
		<script type="text/javascript" src="{% static "js/angular-1.1.5/angular.js" %}"></script>
		<script type="text/javascript" src="{% static "js/angular-1.1.5/angular-cookies.js" %}"></script>
		<script type="text/javascript" src="{% static "js/angular-1.1.5/angular-resource.js" %}"></script>
		<script type="text/javascript" src="{% static "js/angular-ui-utils-0.0.4/ui-utils.js" %}"></script>
		<script type="text/javascript" src="{% static "js/angular-ui-bootstrap-0.4.0/ui-bootstrap-tpls.js" %}"></script>
		<script type="text/javascript" src="{% static "bootstrap-2.3.2/js/bootstrap.js" %}"></script>
		<script type="text/javascript" src="{% static "js/angular-strap-0.7.5/angular-strap.js" %}"></script>
		<script type="text/javascript" src="{% static "js/angular-strap-0.7.5/vendor/bootstrap-datepicker.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery-plugins/jquery.stickytableheaders.js" %}"></script>
		<script type="text/javascript" src="{% static "js/utils/underscore.js" %}"></script>
		<script type="text/javascript" src="{% static "js/utils/showdown.js" %}"></script>
		<script type="text/javascript" src="{% static "js/utils/moment.js" %}"></script>

                <!-- Application -->
		<script type="text/javascript" src="{% static "js/opal/utils.js" %}"></script>
		<script type="text/javascript" src="{% static "js/opal/opaldown.js" %}"></script>
		<script type="text/javascript" src="{% static "js/opal/directives.js" %}"></script>
		<script type="text/javascript" src="{% static "js/opal/filters.js" %}"></script>
		<script type="text/javascript" src="{% static "js/opal/services.js" %}"></script>
		<script type="text/javascript" src="{% static "js/opal/controllers.js" %}"></script>
		<script type="text/javascript" src="{% static "js/opal/app.js" %}"></script>

		<link href="{% static "bootstrap-2.3.2/css/bootstrap.css" %}" rel="stylesheet" media="all">
		<link href="{% static "css/bootstrap-datepicker.css" %}" rel="stylesheet" media="all">
		<link href="{% static "css/font-awesome/css/font-awesome.css" %}" rel="stylesheet" media="all">
		<link href="{% static "css/opal.css" %}" rel="stylesheet" media="all">
                <link href="{% static "css/print.css" %}" rel="stylesheet" media="print">
                <link href="{% static "css/screen.css" %}" rel="stylesheet" media="screen">
                <link rel="shortcut icon" href="{% static 'img/ohc-icon.png' %}">
	</head>
	<body>
		<div class="navbar screen-only">
			<div class="navbar-inner">
				<span class="brand pull-left">
					<a href="/">OPAL-UCH</a>
					{% now "DATE_FORMAT" %}
				</span>

				<ul class="nav pull-right">
					<li class="navbar-text">
                                          Hi,
                                          {% if request.user.first_name %}
                                            {{ request.user.first_name }}
                                          {% else %}
                                            {{ request.user.username }}
                                          {% endif %}
                                        </li>
					<li><a href="#">Home</a></li>
					<li><a href="/admin">Admin</a></li>
					<li><a href="/#/search">Search</a></li>
					<li><a href="/contact">Feedback</a></li>
					<li><a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a></li>
				</ul>
			</div>
		</div>
		<div class="navbar print-only">
			<div class="navbar-inner">
				<span class="brand pull-left">
					OPAL-UCH
					{% now "DATE_FORMAT" %}
				</span>
			</div>
		</div>
		<div class="container" loadingbar>Loading...</div>
		<div ng-view></div>
                {% include 'keyboard_shortcuts_modal.html' %}

	</body>
</html>
