{% load staticfiles %}
<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="opalApp" ng-controller="TableCtrl" ng-keydown="keypress($event)">
	<head>
		<!--[if lte IE 8]>
			<script src="/assets/js/json3.min.js"></script>
		<![endif]-->
		<meta charset="utf-8">
		<title>OPAL is not a Patient Activity List</title>
		<script src="/assets/js/jquery-1.9.1.js"></script>
		<script src="/assets/js/angular-1.1.5.js"></script>
		<script src="/assets/js/bootstrap-2.3.2.js"></script>
		<script src="/assets/js/angular-strap-0.7.4.js"></script>
		<script src="/assets/js/bootstrap-datepicker.js"></script>
		<script src="/assets/js/opal.js"></script>
		<link href="/assets/css/bootstrap-2.3.2.css" rel="stylesheet" media="screen">
		<link href="/assets/css/bootstrap-datepicker.css" rel="stylesheet" media="screen">
		<link href="/assets/css/opal.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand pull-left" href="/">OPAL is not a Patient Activity List</a>
				<ul class="nav pull-right">
					<li><a href="/">Home</a></li>
					<li><a href="/admin">Admin</a></li>
					<li><a href="/contact">Feedback</a></li>
				</ul>
			</div>
		</div>

		<button class="btn" ng-click="startAdd()">Add record</button>


		<table class="table table-bordered">
			<thead>
				<tr>
					{% for column in columns %}
					<th>{{ column.title }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in rows">
					{% for column in columns %}
					<td ng-mouseenter="mouseEnter($index, '{{ column.name }}')"
						ng-mouseleave="mouseLeave()">
						<ul>
							{% if column.single %}
							<li ng-repeat="item in [row.{{column.name}}]"
							{% else %}
							<li ng-repeat="item in row.{{column.name}}"
							{% endif %}
								ng-click="selectItem($parent.$index, {{ forloop.counter0 }}, $index)"
								ng-dblclick="editItem($parent.$index, {{ forloop.counter0 }}, $index)"
								ng-class="{selected: rix == $parent.$index && cix == {{ forloop.counter0 }} && iix == $index}">
								{% if column.single %}
								{% include column.template_path %}
								{% else %}
								<span ng-hide="$last">
									{% include column.template_path %}
								</span>
								<span ng-show="$last">
									<span ng-show="(rix == $parent.$index && cix == {{ forloop.counter0 }}) ||
												   (mouseRix == $parent.$index && mouseCix == {{ forloop.counter0 }})">
										Add
									</span>&nbsp;
								</span>
								{% endif %}
							</li>
						</ul>
					</td>
					{% endfor %}
				</tr>
			</tbody>
		</table>

		<button class="btn" ng-click="startAdd()">Add record</button>

		{% for column in columns %}
		<div id="{{column.name}}-modal" class="modal hide" tabindex="-1" role="dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="cancelEdit()">×</button>
				<h3>{{column.title}}</h3>
			</div>
			<div class="modal-body">{% include column.modal_template_path %}</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="saveEdit()">Save</button>
				{% if not column.single %}
				<button class="btn btn" ng-click="saveEditAndAdd(e)">Save and add another</button>
				{% endif %}
				<button class="btn" ng-click="cancelEdit()">Cancel</button>
			</div>
		</div>
		{% endfor %}

		<div id="add-new-modal" class="modal hide" tabindex="-1" role="dialog">
			<div class="modal-header">
				<button type="button" class="close" ng-click="cancelAdd()">×</button>
				<h3>New record</h3>
			</div>
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label">Category</label>
					<div class="controls">
						<input type="text" ng-model="editing.location.category" bs-typeahead="patient_category_list" data-provide="typeahead" data-min-length=0>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Hospital</label>
					<div class="controls">
						<input type="text" ng-model="editing.location.hospital">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Ward</label>
					<div class="controls">
						<input type="text" ng-model="editing.location.ward">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Bed</label>
					<div class="controls">
						<input type="text" ng-model="editing.location.bed">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Date of admission</label>
					<div class="controls">
						<input type="text" ng-model="editing.location.date_of_admission" bs-datepicker>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Name</label>
					<div class="controls">
						<input type="text" ng-model="editing.demographics.name">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Hospital number</label>
					<div class="controls">
						<input type="text" ng-model="editing.demographics.hospital_number">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Date of birth</label>
					<div class="controls">
						<input type="text" ng-model="editing.demographics.date_of_birth" bs-datepicker>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" ng-click="saveAdd()">Save record</button>
					<button class="btn" ng-click="cancelAdd()">Cancel</button>
				</div>
			</form>
		</div>

		<div id="delete-confirmation" class="modal hide" tabindex="-1" role="dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="cancelDelete()">
			</div>
			<div class="modal-body"><p>Do you want to delete this item?</p></div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal" ng-click="doDelete()">Yes</button>
				<button class="btn" data-dismiss="modal" ng-click="cancelDelete()">No</button>
			</div>
		</div>
	</body>
</html>
