{% load staticfiles %}
<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="opal" ng-controller="RootCtrl" ng-keydown="keydown($event)">
	<head>
		<!--[if lte IE 8]>
			<script type="text/javascript" src="/assets/js/json3.min.js"></script>
		<![endif]-->
		<meta charset="utf-8">
		<title>OPAL is not a Patient Activity List</title>
		<script type="text/javascript" src="/assets/js/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="/assets/js/angular-1.1.5.js"></script>
		<script type="text/javascript" src="/assets/js/angular-resource-1.1.5.js"></script>
		<script type="text/javascript" src="/assets/js/angular-cookies-1.1.5.js"></script>
		<script type="text/javascript" src="/assets/js/bootstrap-2.3.2.js"></script>
		<script type="text/javascript" src="/assets/js/angular-strap-0.7.4.js"></script>
		<script type="text/javascript" src="/assets/js/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="/assets/js/angular-ui-utils-0.0.3.js"></script>
		<script type="text/javascript" src="/assets/js/jquery.stickytableheaders.js"></script>
		<script type="text/javascript" src="/assets/js/opal/utils.js"></script>
		<script type="text/javascript" src="/assets/js/opal/services.js"></script>
		<script type="text/javascript" src="/assets/js/opal/controllers.js"></script>
		<link href="/assets/css/bootstrap-2.3.2.css" rel="stylesheet" media="all">
		<link href="/assets/css/bootstrap-datepicker.css" rel="stylesheet" media="all">
		<link href="/assets/css/opal.css" rel="stylesheet" media="all">
                <link href="/assets/css/print.css" rel="stylesheet" media="print">
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand pull-left" href="/">OPAL is not a Patient Activity List</a>
				<ul class="nav pull-right">
					<li class="navbar-text">Hi, {{ request.user.first_name }}</li>
					<li><a href="#">Home</a></li>
					<li><a href="/admin">Admin</a></li>
					<li><a href="/search">Search</a></li>
					<li><a href="/contact">Feedback</a></li>
					<li><a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a></li>
				</ul>
			</div>
		</div>
		<div ng-view></div>
	</body>
</html>
