<div class="container">
	<h4>
          [[ patient.demographics[0].hospital_number ]]
          [[ patient.demographics[0].name ]]
          ( [[ patient.demographics[0].date_of_birth | date:'d/M/yyyy' ]] )
        </h4>

	<table class="table table-bordered">
	{% for column in columns %}
	<tr>
		<td>
			<h5>{{ column.title }}</h5>
			<ul ng-mouseenter="mouseEnter({{ forloop.counter0 }})" ng-mouseleave="mouseLeave()">
				<li ng-repeat="item in patient.{{column.name}}"
				ng-click="selectItem({{ forloop.counter0 }}, $index)"
				ng-dblclick="editItem({{ forloop.counter0 }}, $index)"
				ng-class="{selected: cix == {{ forloop.counter0 }} && iix == $index}">
				{% if column.single %}
				{% include column.template_path %}
				{% else %}
				<span ng-hide="$last">
					{% include column.template_path %}
				</span>
				<span ng-show="$last">
					<span ng-show="(cix == {{ forloop.counter0 }}) || (mouseCix == {{ forloop.counter0 }})">
						Add
					</span>&nbsp;
				</span>
				{% endif %}
				</li>
			</ul>
		</td>
	</tr>
	{% endfor %}
	</table>
</div>

{% for column in columns %}
<div id="{{column.name}}-modal" class="modal hide" tabindex="-1" role="dialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="cancelEdit()">×</button>
		<h3>{{column.title}} ([[editingName]])</h3>
	</div>
	<div class="modal-body">{% include column.modal_template_path %}</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="saveEdit()">Save</button>
		{% if not column.single %}
		<button class="btn btn" ng-click="saveEditAndAdd(e)">Save and add another</button>
		{% endif %}
		<button class="btn" ng-click="cancelEdit()">Cancel</button>
	</div>
</div>
{% endfor %}

<div id="delete-confirmation" class="modal hide" tabindex="-1" role="dialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="cancelDelete()">
		</div>
		<div class="modal-body"><p>Do you want to delete this item?</p></div>
		<div class="modal-footer">
			<button class="btn btn-primary" data-dismiss="modal" ng-click="doDelete()">Yes</button>
			<button class="btn" data-dismiss="modal" ng-click="cancelDelete()">No</button>
		</div>
	</div>
</div>
