{% load staticfiles %}
<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="opalApp" ng-controller="PatientCtrl">
	<head>
		<!--[if lte IE 8]>
			<script src="/assets/js/json3.min.js"></script>
		<![endif]-->
		<meta charset="utf-8">
		<title>OPAL is not a Patient Activity List</title>
		<script src="/assets/js/jquery-1.9.1.js"></script>
		<script src="/assets/js/angular-1.1.5.js"></script>
		<script src="/assets/js/bootstrap-2.3.2.js"></script>
		<script src="/assets/js/angular-strap-0.7.4.js"></script>
		<script src="/assets/js/bootstrap-datepicker.js"></script>
		<script src="/assets/js/angular-ui-utils-0.0.3.js"></script>
		<script src="/assets/js/opal.js"></script>
		<link href="/assets/css/bootstrap-2.3.2.css" rel="stylesheet" media="all">
		<link href="/assets/css/bootstrap-datepicker.css" rel="stylesheet" media="all">
		<link href="/assets/css/opal.css" rel="stylesheet" media="all">
                <link href="/assets/css/print.css" rel="stylesheet" media="print">
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand pull-left" href="/">OPAL is not a Patient Activity List</a>
				<ul class="nav pull-right">
					<li class="navbar-text">Hi, {{ request.user.first_name }}</li>
					<li><a href="/">Home</a></li>
					<li><a href="/admin">Admin</a></li>
					<li><a href="/search">Search</a></li>
					<li><a href="/contact">Feedback</a></li>
					<li><a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a></li>
				</ul>
			</div>
		</div>

		<div class="container">
			<h4>[[ patient.demographics[0].name ]]</h4>

			{% for column in columns %}
			<h5>{{ column.title }}</h5>
			<div ng-repeat="item in patient.{{column.name}}">
				{% include column.template_path %}
			</div>
			{% endfor %}
		</div>
	</body>
</html>
