<div class="container content-offset">

  <div class="panel panel-warning">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h2>Patient Search</h2>
    </div>
    <div class="panel-body">
      <form class="form form-horizontal">
        <div class="col-sm-6">
          <input type="text" 
                 name="name" 
                 ng-model="searchTerms.name" 
                 placeholder="Name" 
                 class="form-control" 
                 ng-keypress="$event.keyCode == 13 && search()" 
                 focus-on-this
                 />
        </div>
        <div class="col-sm-3">
          <input type="text" 
                 name="hospital_number" 
                 ng-model="searchTerms.hospital_number" 
                 placeholder="Hospital Number" 
                 class="form-control" 
                 ng-keypress="$event.keyCode == 13 && search()" />
        </div>

        <div class="col-sm-1">
	      <button ng-click="search()" class="btn btn-warning">
          <span class="glyphicon glyphicon-search"></span>
          Search
        </button>
        </div>
        <div class="col-sm-1">
          <p ng-show="profile.can_extract">
            <a href="#/extract" class="btn btn-info">
              Advanced
            </a>
          </p>
        </div>

      </form>
      <p>
      </p>
    </div>
    <table class="table table-bordered table-hover search" ng-hide="!searched">
      <thead>
        <tr>
          <td>Hospital #</td>
          <td>Name</td>
          <td>DOB</td>
          <td>Admitted</td>
          <td>Discharged</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
	    <tr class="pointer"
            ng-click="jumpToEpisode(patient)"
            ng-repeat="patient in results"
            >
	      <td>[[patient.demographics[0].hospital_number]]</td>
	      <td>[[patient.demographics[0].name]]</td>
          <td>[[patient.demographics[0].date_of_birth]]</td>
	      <td>[[ patient.episodes[getEpisodeID(patient)].date_of_admission ]]</td>
          <td>[[ patient.episodes[getEpisodeID(patient)].discharge_date ]]</td>
	      <td>
            <i class="glyphicon glyphicon-new-window"></i>
          </td>
	    </tr>
      </tbody>

    </table>

    <!-- Table -->
  </div>

  <div ng-hide="!searched || results.length">
	No Results
    <br /><br />
    <button class="btn btn-info" ng-click="addEpisode()">Add patient</button>
  </div>

</div>
