<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label">Destination</label>
		<div class="controls">
			<input type="text" ng-model="editing.destination" bs-typeahead="destination_list" data-provide="typeahead">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Dates</label>
		<div class="controls">
			<input type="text" ng-model="editing.dates">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Reason for travel</label>
		<div class="controls">
			<input type="text" ng-model="editing.reason_for_travel" bs-typeahead="travel_reason_list" data-provide="typeahead">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Specific exposures</label>
		<div class="controls">
			<input type="text" ng-model="editing.specific_exposures">
		</div>
	</div>
</form>
