<div class="container content-offset">
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h2>
        <i class="fa fa-home"></i>
        Welcome to {{ OPAL_BRAND_NAME }} - an Opal application.
      </h2>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Team Lists</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <p>
                    <a href="#/list/">
                      <i class="fa fa-users fa-5x fa-border"></i>
                    </a>
                  </p>
                </div>
                <div class="col-md-6">
                  <a href="#/list/" class="btn btn-primary btn-lg">
                    <i class="fa fa-arrow-right"></i>
                    Lists
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Search</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <p>
                    <a href="#/search/">
                      <i class="fa fa-search fa-5x fa-border"></i>
                    </a>
                  </p>
                </div>
                <div class="col-md-6">
                  <a href="#/search/" class="btn btn-primary btn-lg">
                    <i class="fa fa-arrow-right"></i>
                    Search
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Admin</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <p>
                    <a href="/admin/">
                      <i class="fa fa-cogs fa-5x fa-border"></i>
                    </a>
                  </p>
                </div>
                <div class="col-md-6">
                  <a href="/admin/" class="btn btn-primary btn-lg">
                    <i class="fa fa-arrow-right"></i>
                    Admin
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
