<div class="container content-offset">

  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h2>
        <i class="fa fa-search"></i>
        Patient Search
      </h2>
    </div>
    <div class="panel-body">
      <form class="form form-inline" ng-submit="search()">
        <div class="row">
          <div class="col-md-9">
              <span ng-repeat="query in criteria">
                <div class="row">
                    <div class="col-md-3" ng-hide="$index == 0">
                      <select class="content-offset-10 content-offset-below-20 form-control" ng-model="query.combine">
                        <option>and</option>
                        <option>or</option>
                      </select>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-10">
                    <select class="form-control content-offset-below-10" ng-model="query.column"
                    ng-change="resetFilter($index, ['combine', 'column'])"
                    data-trigger="focus" bs-tooltip="tooltip"
                    data-placement="top" data-title="1. Select a Column"
                    set-focus-if="!query.column"
                    >
                      <option ng-repeat="col in columns" value="[[col.name]]">
                        [[col.display_name]]
                      </option>
                    </select>
                    <span ng-repeat="col in columns"
                          ng-show="query.column == col.name">
                      <select class="form-control content-offset-below-10" ng-model="query.field"
                      data-trigger="focus" bs-tooltip="tooltip"
                      data-placement="top" data-title="2. Select a field"
                      set-focus-if="query.field == null && query.column != null"
                      >
                        <option ng-repeat="field in searchableFields(col)">[[field]]</option>
                      </select>
                    </span>
                    <span ng-show="query.column != 'tagging'">
                      <select class="form-control content-offset-below-10"
                              ng-show="query.field != null && !isDate(query.column, query.field)"
                              ng-model="query.queryType" data-trigger="focus" bs-tooltip="tooltip"
                              data-placement="top" data-title="3. Select your query type"
                              set-focus-if="query.field != null && !isDate(query.column, query.field)"
                              >
                        <option>Equals</option>
                        <option ng-show="isText(query.column, query.field)">Contains</option>
                      </select>
                      <select class="form-control content-offset-below-10"
                                ng-show="query.field != null && isDate(query.column, query.field)"
                              ng-model="query.queryType" data-trigger="focus" bs-tooltip="tooltip"
                              data-placement="top" data-title="3. Select your query type"
                              set-focus-if="query.field != null && isDate(query.column, query.field)" >
                        <option>Before</option>
                        <option>After</option>
                      </select>
                      <select class="form-control content-offset-below-10" ng-model="query.query"
                              ng-show="isBoolean(query.column, query.field) && query.field != null"
                              data-trigger="focus" bs-tooltip="tooltip"
                              data-placement="top" data-title="3. Select your query type"
                              set-focus-if="isBoolean(query.column, query.field) && query.field != null"
                              >
                        <option>true</option>
                        <option>false</option>
                      </select>
                      <input type="text"
                             class="form-control onions content-offset-below-10"
                             ng-model="query.query"
                             ng-show="isText(query.column, query.field) && query.field != null"
                             ng-options="x for x in query.lookup_list"
                             bs-typeahead
                             placeholder="4. Add your value"
                             set-focus-if="isText(query.column, query.field) && query.field != null  && query.queryType != null"
                             />
                    <input type="text" ng-model="query.query"
                             class="form-control content-offset-below-10"
                             ng-show="isDate(query.column, query.field) && query.field != null"
                             data-trigger="focus" bs-tooltip="tooltip"
                             data-placement="top" data-title="4. Add your value"
            	               ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])\/(0?[1-9]|1[012])\/(\d{4})$/"
            	               placeholder="dd/mm/yyyy"
                             set-focus-if="isDate(query.column, query.field) && query.field != null && query.queryType != null"
                             />
                    </div>
                  </span>
                  <div class="col-md-2">
                    <button type="button" class="btn btn-success content-offset-below-10"
                            ng-show="query.field != null"
                            ng-click="addFilter()"
                            >
                      <span ng-click="addFilter" class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button type="button" class="btn btn-danger content-offset-below-10"
                            ng-show="(query.field != null && criteria.length > 1 || criteria.length > 1)"
                            ng-click="removeFilter($index)"
                            >
                      <span ng-click="removeFilter($index)" class="glyphicon glyphicon-minus"></span>
                    </button>
                  </div>
                </div>
              </span>
              <div class="content-offset-20 content-offset-below-10">
                <a class="btn btn-danger" ng-show="criteria.length > 1" ng-click="removeCriteria()">
                   Clear search
                 </a>
             </div>
          </div>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4><i class="fa fa-save saved-search"></i>Saved Searches</h4>
              </div>

              <div class="panel-body">
                <ul ng-show="filters.length" class="list-group">
                  <li class="list-group-item" ng-repeat="f in filters">
                    <strong>
                      <a href="#" ng-click="jumpToFilter($event, f)">
                        [[f.name]]
                      </a>
                      <a href="#" ng-click="editFilter($event, f, $index)" >
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                    </strong>
                  </li>
                </ul>
                <div ng-show="!filters.length">
                  You have no saved searches
                </div>
              </div>
              <div ng-show="results.length > 0" class="panel-footer text-center">
                <button type="button"
                        class="btn btn-secondary"
                        ng-click="save()"
                        >
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  Save this search
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="submit"
                    class="btn btn-primary col-md-4 col-md-push-4"
                    >
              <span class="glyphicon glyphicon-search"></span>
              Search
            </button>
          </div>
        </div>
      </form>
      <div class="row content-offset-25" ng-show="!profile.can_extract">
        <form action="/search/extract/download" method="post" target="_blank">
          <input name="criteria" type="hidden" value="[[ JSON.stringify(criteria) ]]">
          {% csrf_token %}
          <div class="col-md-12">
            <button type="submit"
                    class="btn btn-secondary col-md-4 col-md-push-4"
                    ng-show="results.length > 0">
              <span class="glyphicon glyphicon-download"></span>
              Download these results
            </button>
          </div>
        </form>
      </div>
      <br />
    </div> <!-- Row -->
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12" ng-show="results.length == 0">
          <p>
            Sorry, no results match your search.
          </p>
        </div>
      </div>
    </div>
    {% include 'partials/_episode_summary_table.html' %}
    <!-- Table -->
  </div>

<p ng-show="results.length > 0"> Results 1- [[  results.length >= 10 && 10 || results.length ]] of [[ results.length ]]</p>
</div>

{% include 'extract_footer.html' %}
