<div class="container content-offset extract-search">
    <div class="panel panel-primary extract-panel panel-container">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h2>
          <i class="fa fa-search"></i>
          Patient Search
        </h2>
      </div>
      <div class="row content-offset-below-25">
        <div class="col-md-12">
          <div class="patient-list-group">
            <ul class="nav nav-tabs nav-justified" role="tablist">
              <li role="presentation" ng-class="{active: state==='query'}">
                <a href="" ng-click="state='query'" aria-controls="home" role="tab" data-toggle="tab">
                  Query
                </a>
              </li>
              <li role="presentation" ng-class="{active: state==='slice'}">
                <a href="" ng-click="state='slice'" aria-controls="home" role="tab" data-toggle="tab">
                  Extract
                </a>
              </li>
              <li role="presentation" ng-class="{active: state==='data_dictionary'}">
                <a href="" ng-click="state='data_dictionary'" aria-controls="home" role="tab" data-toggle="tab">
                  Data Dictionary
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div ng-show="state === 'data_dictionary'" class="panel-body">
        {% include 'partials/search/data_dictionary.html' %}
      </div>
      <div ng-show="state === 'slice'" class="panel-body">
        {% include 'partials/search/extract_slice.html' %}
      </div>
      <div ng-show="state === 'query'"
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  {% include "partials/search/query_description.html" %}
                </div>
                <div class="col-md-6 text-right">
                  <button ng-disabled="searched && !extractQuery.completeCriteria().length" ng-click="search()"
                          class="btn btn-primary btn-lg"
                          >
                    <span class="glyphicon glyphicon-search"></span>
                    Search
                  </button>
                </div>
              </div>
              <hr class="bold" />
              <form class="form form-inline">
                <div class="row">
                  <div class="col-md-9 content-offset-10">
                    <div class="form-inline">
                      <div class="form-group">
                        Match patients for
                        <select class="form-control" ng-model="extractQuery.anyOrAll">
                          <option ng-repeat="combination in extractQuery.combinations">[[ combination ]]</option>
                        </select>
                        of the following rules
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-9">
                    <span ng-repeat="query in extractQuery.criteria">
                      <div class="row">
                        <div class="col-md-1">
                          <button type="button" class="btn btn-default square-button content-offset-25" ng-disabled="!query.column"
                                  ng-click="selectInfo(query)" ng-class="{'btn-default': selectedInfo !== query, 'btn-info': selectedInfo === query}"
                                  >
                            <span class="fa fa-info"></span>
                          </button>
                        </div>
                        <div class="col-md-10">
                          <select class="form-control content-offset-25" ng-model="query.column"
                                  ng-change="resetFilter(query, ['column'])"
                                  tooltip-trigger="focus"
                                  tooltip-placement="top" uib-tooltip="1. Select a Column"
                                  set-focus-if="!query.column"
                                  >
                            <option ng-repeat="col in extractSchema.columns" value="[[ col.name ]]">
                              [[ col.display_name ]]
                            </option>
                          </select>
                          <select class="form-control content-offset-25" ng-model="query.field"
                                  tooltip-trigger="focus"
                                  ng-show="query.column"
                                  ng-change="resetFilter(query, ['column', 'field'])"
                                  tooltip-placement="top" uib-tooltip="2. Select a field"
                                  set-focus-if="query.field == null && query.column != null"
                                  >
                            <option value="[[ field.name ]]" ng-repeat="field in extractSchema.findColumn(query.column).fields">[[ field.title ]]</option>
                          </select>
                          <select class="form-control content-offset-25"
                                  ng-show="extractSchema.isText(query.column, query.field)"
                                  ng-model="query.queryType" tooltip-trigger="focus"
                                  tooltip-placement="top" uib-tooltip="3. Select your query type"
                                  set-focus-if="extractSchema.isText(query.column, query.field)"
                                  >
                            <option>Equals</option>
                            <option ng-show="extractSchema.isText(query.column, query.field)">Contains</option>
                          </select>
                          <select class="form-control content-offset-25"
                                  ng-show="extractSchema.isDateType(query.column, query.field)"
                                  ng-model="query.queryType" tooltip-trigger="focus"
                                  tooltip-placement="top" uib-tooltip="3. Select your query type"
                                  set-focus-if="extractSchema.isDateType(query.column, query.field)" >
                            <option>Before</option>
                            <option>After</option>
                          </select>
                          <select class="form-control content-offset-25" ng-model="query.queryType"
                                  ng-show="extractSchema.isNumber(query.column, query.field) && query.field != null"
                                  tooltip-trigger="focus"
                                  tooltip-placement="top" uib-tooltip="3. Select your query type"
                                  set-focus-if="extractSchema.isNumber(query.column, query.field) && query.field != null"
                                  >
                            <option>Greater Than</option>
                            <option>Less Than</option>
                          </select>
                          <select class="form-control content-offset-25" ng-model="query.query"
                                  ng-show="extractSchema.isBoolean(query.column, query.field) && query.field != null"
                                  tooltip-trigger="focus"
                                  tooltip-placement="top" uib-tooltip="3. Select your query type"
                                  set-focus-if="extractSchema.isBoolean(query.column, query.field) && query.field != null"
                                  >
                            <option>true</option>
                            <option>false</option>
                          </select>
                          <input type="number"
                                 class="form-control content-offset-25"
                                 ng-model="query.query"
                                 ng-if="extractSchema.isNumber(query.column, query.field)"
                                 placeholder="4. Add your value"
                                 ng-keypress="$event.keyCode == 13 && search()"
                                 set-focus-if="extractSchema.isNumber(query.column, query.field) && query.field != null  && query.queryType != null"
                                 />
                          <input type="text"
                                 class="form-control content-offset-25"
                                 ng-model="query.query"
                                 ng-if="extractSchema.isText(query.column, query.field)"
                                 uib-typeahead="x for x in extractSchema.getChoices(query.column, query.field, referencedata) | filter:$viewValue | limitTo:8"
                                 placeholder="4. Add your value"
                                 ng-keypress="$event.keyCode == 13 && search()"
                                 set-focus-if="isText(query.column, query.field) && query.field != null  && query.queryType != null"
                                 />
                          <input type="text" ng-model="query.query"
                                 class="form-control content-offset-25"
                                 ng-if="extractSchema.isDateType(query.column, query.field)"
                                 ng-keypress="$event.keyCode == 13 && search()"
                                 tooltip-trigger="focus"
                                 tooltip-placement="top" uib-tooltip="4. Add your value"
                  	           ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])\/(0?[1-9]|1[012])\/(\d{4})$/"
                  	           placeholder="dd/mm/yyyy"
                                 set-focus-if="isDate(query.column, query.field) && query.queryType != null"
                                 />
                            <span ng-if="extractSchema.isSelect(query.column, query.field)">
                              <select ng-model="query.query" class="form-control content-offset-25"
                                tooltip-trigger="focus"
                                ng-keypress="$event.keyCode == 13 && search()"
                                tooltip-placement="top" uib-tooltip="4. Select one of the below">
                                <option ng-repeat="i in extractSchema.getChoices(query.column, query.field, referencedata) track by $index">[[ i ]]</option>
                              </select>
                            </span>
                            <span ng-if="extractSchema.isSelectMany(query.column, query.field)">
                              <select class="form-control content-offset-25"
                                      ng-model="query.queryType" tooltip-trigger="focus"
                                      tooltip-placement="top" uib-tooltip="3. Select your query type"
                                      set-focus-if="query.column && query.field" >
                                <option>Any Of</option>
                                <option>All Of</option>
                              </select>
                              <div class="row">
                                <div class="col-sm-12 content-offset-10">
                                  <ui-select multiple theme="bootstrap" ng-model="query.query" class="form-control"
                                          style="min-width: 100%;"
                                          tooltip-trigger="focus"
                                          name="select-query"
                                          ng-keypress="$event.keyCode == 13 && search()"
                                        >
                                      <ui-select-match placeholder="4. Select Some Of...">[[ $item ]]</ui-select-match>
                                      <ui-select-choices repeat="i in extractSchema.getChoices(query.column, query.field, referencedata) | filter:$select.search">
                                        <div ng-bind-html="i | highlight: $select.search"></div>
                                      </ui-select-choices>
                                  </ui-select>
                                </div>
                              </div>
                            </span>
                          </div>
                        <div class="col-md-1 text-right">
                          <div class="row">
                            <div class="col-md-12">
                              <button type="button" class="btn btn-dange content-offset-25"
                                      ng-click="extractQuery.removeFilter($index)"
                                      >
                                <span class="glyphicon glyphicon-minus"></span>
                              </button>
                            </div>
                          </div>
                          <div ng-show="$last" class="row  content-offset">
                            <div class="col-md-12">
                              <button type="button" class="btn btn-primary"
                                      ng-click="extractQuery.addFilter()"
                                      >
                                <span class="glyphicon glyphicon-plus"></span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div ng-hide="$last" class="row">
                        <div class="col-md-10 col-md-push-1">
                          <hr class="divider" />
                        </div>
                      </div>
                    </span>
                  </div>
                  <div class="col-md-3">
                    <div class="search-info" ng-show="selectedInfo">
                      <div class="search-info-title">
                        <strong>[[ extractSchema.findColumn(selectedInfo.column).display_name ]]</strong>
                      </div>
                      <div ng-show="extractSchema.findColumn(selectedInfo.column).description">
                        [[ extractSchema.findColumn(selectedInfo.column).description ]]
                        <div class="content-offset-10"></div>
                      </div>
                      <div ng-show="selectedInfo.field">
                        <strong>[[ extractSchema.findField(selectedInfo.column, selectedInfo.field).title ]]</strong>
                          [[ "[" + extractSchema.getTypeDisplay(selectedInfo.column, selectedInfo.field) + "]" ]]
                      </div>
                      <div ng-show="extractSchema.isText(selectedInfo.column, selectedInfo.field) && extractSchema.findField(selectedInfo.column, selectedInfo.field).lookup_list">
                        Normally coded as a
                        <a href=""
                           class="orange-link"
                           ng-click="open_modal('LookupListReferenceCtrl', '/templates/modals/lookuplist_reference.html', {lookuplist_name: extractSchema.findField(selectedInfo.column, selectedInfo.field).lookup_list, lookuplist: extractSchema.getChoices(selectedInfo.column, selectedInfo.field, referencedata)  })">
                          [[ extractSchema.findField(selectedInfo.column, selectedInfo.field).lookup_list | underscoreToSpaces ]]</a>
                        but free text entries are possible.
                      </div>
                      [[ extractSchema.findField(selectedInfo.column, selectedInfo.field).description ]]
                    </div>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-sm-4">
                  {% if user.profile.can_extract %}
                    {% if EXTRACT_ASYNC %}
                      <button class="btn btn-lg"
                              ng-class="{'btn-primary': async_ready, 'btn-secondary': !async_ready}"
                              ng-show="searched && results.length > 0"
                              analytics-category="search" analytics-event="extract-download"
                              analytics-on
                              ng-click="async_extract()">
                        <span ng-hide="async_waiting">
                          <i class="glyphicon glyphicon-download"></i>
                          Download this data
                        </span>
                        <span ng-show="async_waiting && !async_ready">
                          <i class="fa fa-cog fa-spin" ></i>
                          Building your extract... this could take some time...
                        </span>
                        <span ng-show="async_ready">
                          <i class="glyphicon glyphicon-download"></i>
                          Ready - Download your extract
                        </span>
                      </button>
                    {% else %}
                      <form action="/search/extract/download" method="post" target="_blank">
                        <input name="criteria" type="hidden" value="[[ JSON.stringify(extractQuery.criteria) ]]">
                        {% csrf_token %}
                        <button type="submit"
                                class="btn btn-secondary btn-lg"
                                analytics-category="search" analytics-event="extract-download"
                                ng-show="searched && results.length > 0">
                          <span class="glyphicon glyphicon-download"></span>
                          Download these results
                        </button>
                      </form>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div ng-show="searched" class="row">
            <div ng-show="extractQuery.completeCriteria().length && !results.length" class="col-sm-4 col-sm-push-4 lead text-center">
              Sorry, no results match your search.
            </div>
            <div ng-show="!extractQuery.completeCriteria().length" class="col-sm-4 col-sm-push-4 lead text-center">
              Sorry, we need at least one search filter to run a search
            </div>
          </div>
          <div class="content-offset-below" ng-show="searched && results.length">
            {% include 'partials/_patient_summary_list.html' %}
          </div>
        </div>
        {% include 'extract_footer.html' %}
        </div>
      </div> <!-- Row -->
  </div>
