<div class="container content-offset">

  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h2>
        <i class="fa fa-search"></i> 
        Patient Search
      </h2>
    </div>
    <div class="panel-body">
      <form class="form form-horizontal">
        <div class="col-md-6">
          <input type="text"
                 name="name"
                 ng-model="searchTerms.name"
                 placeholder="Name"
                 class="form-control"
                 ng-keypress="$event.keyCode == 13 && search()"
                 focus-on-this
                 autocomplete="off"
                 />
        </div>
        <div class="col-md-3">
          <input type="text"
                 name="hospital_number"
                 ng-model="searchTerms.hospital_number"
                 placeholder="Hospital Number"
                 class="form-control"
                 ng-keypress="$event.keyCode == 13 && search()" />
        </div>

        <div class="col-md-3">
	      <a ng-click="search()" class="btn btn-primary pull-left">
            <i class="glyphicon glyphicon-search"></i>
            Search
          </a>
          <a href="#/extract" class="btn btn-secondary pull-right">
            <i class="fa fa-sliders"></i>
            Advanced
          </a>
        </div>

      </form>
      <p>
      </p>
    </div>
    {% include '_episode_summary_table.html' %}
    <!-- Table -->

    <div ng-hide="!searched || results.length" class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <p class="lead">
            We couldn't find any results for your search.
            <br />
            Maybe you'd like to
            <a href="#/extract">try an advanced search?</a>
          </p>
        </div>
        <div class="col-md-6">
          <p>
            <button class="btn btn-secondary pull-right"
                    ng-click="addEpisode()"
                    >
              <i class="glyphicon glyphicon-plus"></i>
              Add Patient
            </button>

          </p>
        </div> 


      </div>
    </div>
    
    
  </div>
</div>
