ul {
	margin-left: 0;
	margin-bottom: 0;
}

li {
	list-style: none;
	padding: 4px;
}

li li {
	padding-top: 0px;
	padding-bottom: 0px;
}

li.selected {
	background-color: #cee;
}

.modal-body {
	height: 400px;
}

thead {
	background: #fafafa;
	border-bottom: 1px solid #ddd;
}

table {
	font-size: 12px;
}

.table th {
	max-width: 150px;
}

.table td {
	padding: 1px;
	max-width: 150px;
}

input.ng-invalid {
	background-color : #fcc; 
}
