{% load forms %}

<div class="form-group">
  <label class="control-label col-sm-3">Reason for stopping</label>
  <div class="col-sm-8">
    <select class="form-control" ng-model="meta.reason">
      <option ng-show="meta.oral">Planned switch to Oral</option>
      <option>Completed Antibiotics</option>
      <option>Unplanned Stop</option>
    </select>
  </div>
</div>

{% select show="meta.reason=='Unplanned Stop'" label="Unplanned Stop Reason" model="meta.unplanned_stop" lookuplist="unplanned_stop_list" %}

{% input label="Details" model="meta.details" %}
