{% extends 'static_page.html' %}
{% load i18n %}
{% block navbar %}{% endblock %}
{% block content %}
<div class="container content-offset">

  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h2>{% trans "Banned Passwords" %}</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <p class="lead">
              {% trans "This list of 1000 common passwords are banned for this application." %}
            </p>
            <ul>
              {% for b in banned %}
              {{b}}&nbsp; &nbsp;
              {% endfor %}
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
