{% load panels %}
<div class="col-md-6"> <!-- Detail panels col 1 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>
        <i class="fa fa-map-marker"></i> Location
        <i class="fa fa-pencil edit pull-right"
           ng-click="episode.recordEditor.editItem('location', episode.location[0])"></i>
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <b>Hospital</b>
        </div>
        <div class="col-md-8">
          [[ episode.location[0].hospital ]]
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <b>Ward</b>
        </div>
        <div class="col-md-8">
          [[ episode.location[0].ward ]]
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <b>Bed</b>
        </div>
        <div class="col-md-8">
          [[ episode.location[0].bed ]]
        </div>
      </div>
    </div>
  </div>
  {% record_panel models.Allergies noentries="No known allergies"%}
  {% record_panel models.PastMedicalHistory %}
</div>                 <!-- Ends Detail panels col 1 -->
<div class="col-md-6"> <!-- Detail panels col 2 -->
  {% record_panel models.Diagnosis %}
  {% record_panel models.Treatment %}
</div>                 <!-- Ends Detail panels col 2 -->
