 <span ng-show="item.datetime_of_admission">
   <b>Admitted</b> [[ item.datetime_of_admission | shortDate ]] <br />
 </span>
 <span ng-show="item.datetime_of_discharge">
   <b>Discharged</b> [[ item.datetime_of_discharge | shortDate ]] <br />
 </span>
 <span ng-show="item.ward_code">
   <b>Ward</b> [[ item.ward_code ]] <br />
 </span>
 <span ng-show="item.room_code">
   <b>Room</b> [[ item.room_code ]] <br />
 </span>
 <span ng-show="item.bed_code">
   <b>Bed</b> [[ item.bed_code ]] <br />
 </span>
 <span ng-show="item.admission_diagnosis">
   <b>Admission Diagnoses</b> [[ item.admission_diagnosis ]] <br />
 </span>
