 <span ng-show="item.datetime_of_admission">[[ item.datetime_of_admission ]] <br /></span>
 <span ng-show="item.datetime_of_discharge">[[ item.datetime_of_discharge ]] <br /></span>
 <span ng-show="item.hospital">[[ item.hospital ]] <br /></span>
 <span ng-show="item.ward_code">[[ item.ward_code ]] <br /></span>
 <span ng-show="item.room_code">[[ item.room_code ]] <br /></span>
 <span ng-show="item.bed_code">[[ item.bed_code ]] <br /></span>
 <span ng-show="item.admission_diagnosis">[[ item.admission_diagnosis ]] <br /></span>
 <span ng-show="item.external_identifier">[[ item.external_identifier ]] <br /></span>