"""
{{ name }} - Our OPAL Application
"""
from opal.core import application

class Application(application.OpalApplication):
    schema_module = '{{ name }}.schema'
    flow_module   = '{{ name }}.flow'
    javascripts   = [
        'js/{{ name }}/routes.js',
        'js/opal/controllers/discharge.js',
        # Uncomment this if you want to implement custom dynamic flows.
        # 'js/{{ name }}/flow.js',
    ]
