ul {
	margin-left: 0;
	margin-bottom: 0;
    padding-left: 0px
}

li {
	list-style: none;
	padding: 4px;
}

li li {
	padding-top: 0px;
	padding-bottom: 0px;
}

li.selected {
	background-color: #cee;
}

.navbar {
    margin-bottom: 3px;
    border-bottom: 0px;
    min-height: 1px;
}
#main-navbar {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: solid #faebcc;
    border-width: 0 0 2px 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,    
#main-navbar .navbar-nav li:hover {
	background-color: #f0ad4e;
}
#main-navbar ul li {
	padding: 0px;
}
.modal-header {
    padding-left: 0px 0px 0px 15px;
}
.modal-body {
	/* height: 400px; */
    /* overflow-y: scroll; */
}

thead {
	background: #fafafa;
	border-bottom: 1px solid #ddd;
}

table {
	font-size: 12px;
}

.table th {
	max-width: 150px;
}

.table tbody tr td {
	padding: 1px;
	max-width: 150px;
}

.table.search tbody tr td {
    padding: 8px;
}

input.ng-invalid {
	background-color : #fcc;
}

#subtags {
    margin-left: 304px;
	border-bottom: none;
}

.underline {
    text-decoration: underline;
}

.break-word {
    word-wrap: break-word;
}

.navbar-2 {
    top: 52px;
    padding-top: 4px;
	background-color: white;
}

.navbar-3 {
    top: 88px;
    padding-top: 2px;
	background-color: white;
    min-height: 35px;
}

.content-offset {
    margin-top: 124px;
}

.datepicker table tr td span {
	height: 20px;
	line-height: 12px;
}

.pointer:hover {
    cursor: pointer;
}

.push-left-12 {
    margin-left: 12px;
}

.navbar-nav.nav-tabs li {
	padding: 0px;
}
.navbar-nav.nav-tabs li:hover a,
.navbar-nav.nav-tabs li.active:hover a,
.navbar-nav.nav-tabs li.active a,
.navbar-nav.nav-tabs li.active{
	background: #fcf8e3;
}
.navbar-nav.nav-tabs li a {
	padding: 6px 10px;
}

.navbar-nav.nav-tabs {
	background: #fafafa
}

/* ngProgress overrides */
.ngProgressLiteBar {
  background-color: firebrick;
  box-shadow: 0 0 10px 0; /* Inherits the font color */
  top: 50px;
}

.ngProgressLite .ngProgressLiteBarShadow {
  display: none;
}

.edit_item:hover {
	background-color: #f0ad4e;
    cursor: pointer;
}

.italic{
    font-style: italic;
}

.dropdown-menu { z-index: 1060; }

.growl-container.growl-fixed.top-right {
  top: 54px;
  right: 2px;
}
