ul {
	margin-left: 0;
	margin-bottom: 0;
    padding-left: 0px
}

li {
	list-style: none;
	padding: 4px;
}

li li {
	padding-top: 0px;
	padding-bottom: 0px;
}

li.selected {
	background-color: #cee;
}

.navbar {
    margin-bottom: 3px;
    border-bottom: 0px;
    min-height: 1px;
}
#main-navbar ul li {
	padding: 0px;
}
.modal-header {
    padding-left: 0px 0px 0px 15px;
}
.modal-body {
	/* height: 400px; */
    /* overflow-y: scroll; */
}

thead {
	background: #fafafa;
	border-bottom: 1px solid #ddd;
}

table {
	font-size: 12px;
}

.table th {
	max-width: 150px;
}

.table tbody tr td {
	padding: 1px;
	max-width: 150px;
}

input.ng-invalid {
	background-color : #fcc;
}

#subtags {
    margin-left: 260px;
}

.underline {
    text-decoration: underline;
}

.break-word {
    word-wrap: break-word;
}

.navbar-2 {
    top: 50px;
}

.navbar-3 {
    top: 84px;
    min-height: 30px;
}

.content-offset {
    margin-top: 114px;
}