{% load forms %}
<!-- suppress the Switcher if there are no items in it -->
<!-- {% if switcher_items != None %}
<div class="btn-group pull-left" uib-dropdown is-open="status.isopen">
  <button type="button" class="btn btn-secondary" uib-dropdown-toggle ng-disabled="disabled" id="list-dropdown">
    <i class="fa fa-user-md"></i>
    {{ patient_list.display_name }}
    <i class="fa fa-angle-down"></i>
  </button>
  <ul class="uib-dropdown-menu slides" role="menu" aria-labelledby="list-dropdown">
    {% for item in switcher_items %}
    <li>
      <a href="#/list/{{ item.get_slug }}">
        {{ item.display_name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %} -->
